// Copyright 2019 Siemens Product Lifecycle Management Software Inc.
.aw-prgSchedulemanager-checklistRedColor div.aw-widgets-cellListItemCell {
    border-left-color : $AW_Red;
}
  
.aw-prgSchedulemanager-checklistYellowColor div.aw-widgets-cellListItemCell {
    border-left-color: $AW_Yellow;
}

.aw-prgSchedulemanager-checklistGreenColor div.aw-widgets-cellListItemCell {
    border-left-color : $AW_Green;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableRedColor{
    background : $AW_Red;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableYellowColor{
    background : $AW_Yellow;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableGreenColor{
    background : $AW_Green;
}