// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
.aw-prgSchedulemanager-topPanel {
    height: 100%;
    width: 100%;
}

.aw-prgSchedulemanager-loadingLabel {
    font-size: $fontsize_small;
}

.aw-prgSchedulemanager-setupProgramBoardClearAll  aw-link{
    float: right;
}

.aw-prgSchedulemanager-checklistRedColor div.aw-widgets-cellListItemCell {
    border-style: solid;
    border-left-width: 5px; 
}
  
.aw-prgSchedulemanager-checklistYellowColor div.aw-widgets-cellListItemCell {
    border-style: solid;
    border-left-width: 5px; 
}

.aw-prgSchedulemanager-checklistGreenColor div.aw-widgets-cellListItemCell {
    border-style: solid;
    border-left-width: 5px; 
}

.aw-xrt-htmlPanelEnableResize aw-walker-view .aw-xrt-htmlPanelResizeSection .aw-layout-panelSectionContent .aw-prgscheduleManager-relationBrowser aw-command-bar *,
.aw-xrt-htmlPanelEnableResize aw-walker-view .aw-xrt-htmlPanelResizeSection .aw-layout-panelSectionContent .aw-prgscheduleManager-relationBrowser .aw-commandBars
{
    @include flex-direction(unset); 
}

.aw-xrt-htmlPanelEnableResize aw-walker-view .aw-xrt-htmlPanelResizeSection .aw-layout-panelSectionContent .aw-prgscheduleManager-relationBrowser aw-command-bar:nth-child(2) * {
    justify-content: flex-end;
    -webkit-justify-content: flex-end; 
}
.aw-xrt-htmlPanelEnableResize aw-walker-view .aw-xrt-htmlPanelResizeSection .aw-layout-panelSectionContent .aw-prgscheduleManager-relationBrowser aw-command-bar *{
    @include flex( 0 1 auto );
}

.aw-xrt-htmlPanelEnableResize aw-walker-view .aw-xrt-htmlPanelResizeSection .aw-layout-panelSectionContent .aw-prgscheduleManager-relationBrowser .aw-commandIcon {
    margin-right: 5px;
}



div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableRedColor{
    border-style: solid;
    visibility: visible;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableYellowColor{
    border-style: solid;
    visibility: visible;
}

div.aw-splm-tableCellContents .aw-prgSchedulemanager-checklistTableGreenColor{
    border-style: solid;
    visibility: visible;
}
