/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2018.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-requirement-hint {
    font-size: $fontsize_large;
    font-weight: normal;
    font-style: italic;
    clear: both;
    float: left;
    width: 100%;
    opacity: 0.5;
}

.aw-requirements-cellListCellContent {
    float: left;
    width: 100%;
}

.aw-requirements-excelImportHeader {
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.aw-requirements-excelImportHeader .propertyLabelTopContainer {
    width: 100%;
    white-space: nowrap;
}

.aw-requirements-excelImportMappingSection .aw-widgets-propertyLabelTopValueContainer ul> :nth-last-child(3),
.aw-requirements-excelImportHeader .aw-widgets-propertyLabelTopValueContainer ul> :nth-last-child(3) {
    font-style: italic;
    opacity: 0.6;
}

.aw-requirements-tracelinkCellType {
    float: left;
    margin-top: 25px;
}

.aw-requirement-traceLinkIconSpace {
    margin-left: 5px;
}

.aw-requirement-createTracelink .aw-layout-panelSection {
    margin-bottom: 0;
}

.aw-requirements-compareHistory {
    overflow: hidden;
}

.aw-requirements-compareContent {
    margin: 5px 24px 5px 24px;
}

.aw-requirements-historyHeaderCell {
    display: inline-block;
    width: 20%;
}

.aw-requirements-compareHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*
* Styles for the HTML Diff
*/

.aw-requirements-compareHistory span.diff-html-added {
    font-size: 100%;
}

.aw-requirements-compareHistory span.diff-html-removed {
    font-size: 100%;
    text-decoration: line-through;
}

.aw-requirements-compareHistory span.diff-html-changed {
    font-size: 100%;
}

.aw-requirements-compareHistory span.diff-html-added img {
    border-width: 2px;
    border-style: solid;
}

.aw-requirements-compareHistory span.diff-html-removed img {
    border-width: 2px;
    border-style: solid;
}

.aw-requirements-compareHistory span.diff-html-changed img {
    border-width: 2px;
    border-style: solid;
}

.aw-richtexteditor-importPreviewPanel {
    width: 100%;
}

.aw-richtexteditor-importPreviewPanel>.aw-base-scrollPanel {
    overflow-y: scroll;
    -ms-overflow-style: scrollbar;
    overflow-x: auto;
    height: 100%;
}

.aw-requirement-hint svg {
    width: 20px;
    height: 20px;
}

.aw-requirements-typePropertiesCellContent .aw-widgets-cellListCellItemType {
    width: auto;
}

.aw-requirements-typePropertiesCellContent .aw-widgets-cellListCellContent {
    width: 100%;
}

.aw-requirement-mappingRuleButton {
    margin: 0;
}

.aw-requirement-reqIFPropertyContainer {
    margin-left: 8px;
}

.aw-requirement-reqIFLovContainer {
    margin-left: 8px;
}

aw-requirements-excelimport-header .aw-widgets-propertyLabelTop {
    overflow: hidden;
    text-overflow: ellipsis;
}

.aw-requirement-importPanel .aw-layout-panelSection .aw-layout-panelSectionContent {
    width: 100%;
    padding: 8px 0 0;
}

.previewElement {
    .diff-html-removed span,
    .diff-html-removed h1,
    .diff-html-removed h2,
    .diff-html-removed h3 {
        text-decoration: line-through;
    }
    
    .aw-requirements-discardUpdate.diff-html-added,
    diffreport span.diff-html-removed {
        text-decoration: line-through;
    }
    
    .aw-requirements-discardUpdate.diff-html-removed {
        text-decoration: unset;
    }

    .aw-requirements-unfreezedReqIndicator,
    .aw-requirements-freezedChangedReqIndicator,
    .aw-requirements-freezedReqIndicator {
        border-width: 0;
        border-left-width: 5px;
        margin-left: -15px;
        height: calc(100% - 30px);
        position: absolute;
        margin-top: 10px;
    }

    .aw-requirements-freezedChangedReqIndicator,
    .aw-requirements-unfreezedReqIndicator {
        border-style: dotted;
    }

    .aw-requirements-freezedReqIndicator {
        border-style: outset;
    }

    .requirement {
        position: relative;
    }
}

.aw-requirements-exportReqIFPanel .aw-requiremnts-reqIFfileNameRow {
    align-items: flex-end;
}

.aw-requirements-exportReqIFPanel .aw-requiremnts-reqIFfileNameColumn {
    width: 90%;
}

.aw-requirements-exportReqIFPanel .aw-requiremnts-reqIFfileExtensionColumn {
    margin-bottom: 8px;
}

.aw-requirements-exportReqIFPanel .aw-requiremnts-reqIFfileNameWidget {
    width: 100%;
}

.aw-requirements-tracelinkCellIcon {
    width: 32px;
    height: 32px;
}

.aw-requirement-createTracelink .aw-layout-panelSectionContent {
    margin-bottom: 0;
}

.aw-requirement-tracelinkPopupButtonFooter {
    padding-top: 10px;
    padding-bottom: 10px;
}

.aw-requirement-tracelinkPopupTypeFooter {
    display: block !important;
    padding-bottom: 0;
    max-height: 45%;
    overflow-y: auto;
}

.aw-requirement-tracelinkPopupTypeFooter .aw-layout-panelBody {
    padding: 0;
}

.aw-requirement-tracelinkPopupTypeFooter .aw-layout-panelSectionContent {
    margin-bottom: 0;
}

.aw-requirement-createTracelink .aw-requirement-swapTracelinkButton .aw-commands-commandIconButton {
    height: 32px;
    width: 32px;
    padding: 5px;
}

.aw-requirement-createTracelinkPanelBody {
    padding: 0 16px 0 16px;
}

.aw-requirement-createTracelinkPanelBody .aw-requirement-createTracelink li.aw-widgets-cellListItem {
    padding: 4px;
}

.aw-requirement-createTracelink .aw-widgets-modelObjectList {
    margin: 0;
}

.aw-requirements-tracelinkCellIcon aw-model-icon .aw-base-icon {
    padding: 4px;
}

.aw-tracelink-cell {
    align-items: center;
}

.aw-requirement-createTracelink .aw-layout-panelSectionTitle {
    height: 32px;
    padding-left: 8px;
    font-size: .75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.aw-requirement-chip {
    margin: 10px 0 10px 40px;
}
.aw-requirement-chip .aw-widgets-chipLabel{
    padding-left: 35px;
    padding-right: 35px;
}

.aw-requirements-importOfficePanel .aw-xrt-thumbnailImagePanel .aw-base-icon{
    height: 24px;
    width: 24px;
}

.aw-requirement-ruleProcessor{
    width: 100%;
}

.aw-requirement-chipList{
    min-height: 40px;
    height:auto;
    flex: none
}
.aw-requirement-chipList .aw-widgets-chipList{
    @include flex-wrap(wrap);
    max-width: 100%;
}

.aw-requirement-createTracelink  aw-list.requirements-Droppable-Lists {
    width: 100%;
}

.aw-requirements-compareTextComparisonPreviewText {
    padding: 7px 0 0 10px;
}

.aw-requirement-importPreviewSWA{
    
    .aw-layout-panelFooter {
        padding-top: 4px;
        padding-bottom: 4px;

        button.aw-base-blk-button.aw-base-size-auto {
            margin-right: 1em;
            min-width: 200px;
        }

        button.aw-base-blk-button.aw-base-size-auto:last-child {
            margin-right: 0;
        }
    }
}

.aw-requirements-compareHistory.aw-richtexteditor-documentPaper.aw-richtexteditor-document.aw-richtexteditor-documentPanel {
    margin: 0;
    overflow: auto;
}

.aw-requirements-tracelinkCellIcon .aw-xrt-thumbnailImagePanel .aw-base-icon{
    height: 28px;
    width: 28px;
}