// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
/* attrtargetmgmt */

.aw-attrtargetmgmt-desc {
    padding-top: 13px;
    font-size: $fontsize_small;
    padding-bottom: 10px;
}

.aw-attrtargetmgmt-cfxTemplateLink {
    text-align: right;
}
