<div class="aw-widgets-cellListCellTitleBlock">
    <h3 title="{{vmo.cellHeader1}}" class="aw-widgets-cellListCellTitle" cell-title-id="CellTitle">{{vmo.cellHeader1}}</h3>
    <label class="aw-widgets-cellListCellItemType aw-base-small" title="{{vmo.cellHeader2}}">{{vmo.cellHeader2}}</label>
</div>
<div cell-prop-id="cellProperties" ng-repeat="cellProp in vmo.cellProperties" >
    <div class="aw-widgets-cellListCellProperties">
        <label class="aw-widgets-propertyLabel aw-base-small">{{cellProp.key}}:</label>
        <label class="aw-widgets-propertyValue aw-base-small" title="{{cellProp.value}}">{{cellProp.value}}</label>
    </div>
</div>
<div id="editableCellProperties" ng-repeat="editCellProp in editableProps">
   <aw-widget  ng-if="vmo.props[editCellProp]" prop="vmo.props[editCellProp]" modifiable="$parent.modifiable"></aw-widget>
</div>
