<aw-panel-section ng-show="legendView.expand">
    <aw-panel-section caption="{{categoryType.displayName}}" ng-if="categoryType.categories.length > 0" ng-repeat="categoryType in legendView.categoryTypes">
        <aw-graph-legend-category class= "aw-graph-legend-category" ng-repeat="categoryItem in categoryType.categories" category="categoryItem" editable="editable" visible-when="(editable && (categoryItem.isAuthorable && categoryItem.authorableSubCategories.length > 0)) || !editable">
            <aw-graph-legend-category ng-repeat="subCategoryItem in categoryItem.authorableSubCategories" category="subCategoryItem" editable="editable" visible-when="editable && categoryItem.isExpanded && categoryItem.authorableSubCategories.length > 0">
            </aw-graph-legend-category>
        </aw-graph-legend-category>
    </aw-panel-section >
</aw-panel-section>