<div id="aw-html-viewer">
    <div ng-if="viewerHeaderProperties" class="aw-viewerjs-header">
        <aw-viewer-header data="viewerHeaderProperties"></aw-viewer-header>
    </div>
    <div ng-if="loading" class="aw-jswidgets-text">{{$parent.loadingMsg}}</div>
    <iframe ng-if="!loading" title="{{frameTitle}}"
        class="aw-viewerjs-scroll aw-viewerjs-border aw-jswidgets-text aw-viewerjs-dimensions"
        ng-style="{'height': viewerHeight, 'width': viewerWidth}" scrolling="auto" ></iframe>
</div>
