<div class="aw-layout-flexColumn">
    <div class="aw-jswidgets-grid aw-matrix-container aw-layout-flexColumn aw-widgets-droptable aw-matrix-MainPanel" ng-class="{'aw-jswidgets-selectionEnabled': isSelectionEnabled, 'aw-jswidgets-gridEditing': isEditing, 'aw-widgets-showDecorators' : dataprovider.showDecorators}">
        <!-- No Results Message -->
        <div class="aw-widgets-noResultsLabel" ng-show="dataProvider.noResults">{{dataProvider.noResultsFound}}</div>
        <!-- ui-grid -->
        <div ng-if="!dataProvider.noResults" id="grid" ui-grid="gridOptions" class="aw-jswidgets-actualGrid aw-layout-flexColumn" aw-table-auto-resize ui-grid-empty-base-layer="false" ui-grid-infinite-scroll ui-grid-resize-columns ui-grid-cellnav aw-right-click="handleRightClick($event)" aw-long-press="handlePressAndHold($event)" ></div>
        <div ng-if="!dataProvider.noResults && gridOptions.enableGridMenu" class="ui-grid-menu-button">
            <button type="button" class="aw-commands-commandIconButton icon-override">
                <aw-icon icon-id="cmdSettings" ng-class="aw-commands-svg"></aw-icon>
            </button>
        </div>
    </div>
</div>
