<div class="aw-viewerjs-header aw-layout-flexColumn">
        <div class="aw-layout-headerProperties aw-viewerjs-elementPosition">
            <div class="aw-layout-flexRowContainer" ng-repeat="each in data">
                <aw-link-with-popup ng-if="each.property.propertyName ==='object_name'" prop="each.property" link-popup-id="aw-viewer-fileName">
                    <aw-popup-command-bar anchor="aw_universalViewerLink"></aw-popup-command-bar>
                </aw-link-with-popup>
                <div class="aw-layout-flexColumn" ng-if="each.property.propertyName !=='object_name'">
                   <aw-property-non-edit-val prop="each.property"></aw-property-non-edit-val>
                </div>
            </div>
        </div>
        <div class="aw-viewerjs-commandBarLayout">
            <div class="aw-commands-commandBar">
                <div class="aw-commandBar-container">
                    <aw-toolbar first-anchor="aw_universalViewer" second-anchor="aw_viewerRightSide" orientation="HORIZONTAL"></aw-toolbar>
                </div>
            </div>
        </div>
        <!--
        <div class="aw-viewerjs-commandBarLayout aw-commands-commandBarHorizontalRight">
            <aw-command-bar anchor="aw_viewerCommands" alignment="HORIZONTAL"
                            class="aw-commands-nativeCommandBar aw-commands-commandBarContainer aw-commands-commandBarHorizontalRight"></aw-command-bar>
        </div>
        -->
    </div>
