<div class="aw-layout-flexColumn aw-xrt-tablePropContent aw-xrt-tablePropertyContainer">
    <div class="aw-layout-flexRow aw-layout-justifyFlexEnd">
        <div class="aw-xrt-tablePropPanel aw-layout-subPanelContent" exist-when="tablepropertydata.renderingStyle !== 'headless'">
            <div class="propertyLabelTopContainer aw-layout-flexRow aw-widgets-justifySpaceBetween">
                <div class="aw-widgets-propertyLabelTop">{{displayName}}:</div>
            </div>
        </div>

        <div class="aw-xrt-tablePropCommandPanel aw-xrt-objectSetToolbar">
            <div class="aw-xrt-objectSetCommandPanel">
                <div class="aw-layout-flexRow">
                    <button class="aw-commands-commandIconButton aw-xrt-tablePropertyCommandIcon" type="button" title="{{_removeCommand.title}}" exist-when="conditions && conditions.cmdTablePropertyRemoveActive && removeCommandEnabled && _removeCommand && _removeCommand.visible" ng-click="remove()">
                        <div class="aw-commandIcon aw-commands-svg">
                            <aw-icon icon-id="cmdRemove" ></aw-icon>
                        </div>
                    </button>
                    <button class="aw-commands-commandIconButton aw-xrt-tablePropertyCommandIcon" type="button" title="{{_duplicateCommand.title}}" exist-when="conditions && conditions.cmdTablePropertyDuplicateActive && _duplicateCommand && _duplicateCommand.visible" ng-click="duplicate()">
                        <div class="aw-commandIcon aw-commands-svg">
                            <aw-icon icon-id="cmdDuplicate" ></aw-icon>
                        </div>
                    </button>
                    <button class="aw-commands-commandIconButton aw-xrt-tablePropertyCommandIcon" type="button" title="{{_addCommand.title}}" exist-when="conditions && conditions.cmdTablePropertyCreateActive && createCommandEnabled && _addCommand && _addCommand.visible" ng-click="add()">
                        <div class="aw-commandIcon aw-commands-svg">
                            <aw-icon icon-id="cmdAdd" ></aw-icon>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="aw-layout-flexColumn aw-base-scrollPanel" ng-style="{'max-height': ( tableHeight !== 0 ) ? '::tableHeight' : undefined, 'width': tableWidth}">
        <aw-splm-table gridid="{{gridId}}"></aw-splm-table>

    </div>
</div>
