<div class="aw-layout-workareaCommandbar aw-theme-toolbar" style="height: 44px">
    <div
        class="aw-commands-commandBar aw-commands-commandBarHorizontalLeft">
        <div class="aw-commands-commandOverflow hidden"></div>
    </div>

    <div>
        <div
            class="aw-commands-commandBar aw-commands-commandBarHorizontalRight aw-layout-commandBarFlexRow">
            <button type="button"
                class="aw-commands-commandIconButton aw-commands-commandWrapperHorizontal"
                ng-repeat="cmd in oneStepCommands" ng-attr-title="{{cmd.title}}"
                ng-show="cmd.visible" ng-click="cmd.handler.execute()">
                <div class="aw-commands-svg">
                    <aw-icon  icon-id="{{cmd.id}}"></aw-icon>
                </div>
            </button>

            <div class="aw-commands-commandOverflow hidden"></div>
        </div>
    </div>



</div>
