<div class="aw-layout-headerPanel">
    <div class="aw-layout-header clearfix">
        <div class="aw-layout-headerLeft">
            <div class="aw-layout-headerSubTitleXRTE">
                <div class="aw-widgets-contextSubTitleXRTE">
                    <span class="dropdownXRTE" dropdownXRTE on-toggle="toggled(open)">
                        <a href class="aw-base-small link-style-3 dropdownXRTE-toggle" dropdownXRTE-toggle>{{userSession.props['user'].uiValue}}</a>
                        <ul class="dropdownXRTE-menu">
                            <li><a href>Profile</a></li>
                            <li><a ng-click="logOut()">Sign Out</a></li>
                        </ul>
                    </span>
                    <span class="aw-base-small link-style-3 visible">-</span>
                    <span class="dropdownXRTE" dropdownXRTE on-toggle="toggled(open)">
                     <a href class="aw-base-small link-style-3 dropdownXRTE-toggle" dropdownXRTE-toggle>{{userSession.props['group'].uiValue}}</a>
                        <ul class="dropdownXRTE-menu">
                            <li><a href>{{userSession.props['group'].uiValue}}</a></li>
                        </ul>
                    </span>
                    <span class="aw-base-small link-style-3 visible">/</span>
                    <a class="aw-base-small link-style-3" href="#">{{userSession.props['role'].uiValue}}</a>
                    <span class="aw-base-small link-style-3 visible">-</span>
                    <a class="aw-base-small link-style-3">Latest Working</a>
                </div>



<!--      @TODO - Convert to AW header panel directive             -->
<!--     <div class="aw-layout-headerPanel"> -->
<!--         <aw-header headericon="modelObject" headerTitle="headerTitle" headerProperties="headerProperties"></aw-header> -->
<!--     </div>                 -->


            </div>
            <button type="button" class="aw-base-backButton" title="Previous Location" ng-click="goBack()" ng-hide="fullScreen"></button>
            <!-- Location Title -->
            <span class="aw-layout-locationTitle" title="Home">{{locationTitle}}</span>

        </div>
        <div class="aw-layout-summaryLocation">
            <img alt="Back" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAYCAYAAAAoG9cuAAAAkklEQVR42o2TUQ3AIAxEkTAJk4CESUACEuaGwA9IQAJSJgEHW0lowge3HEm/+tJe7ooxPy/nfMBGjLFLvSmluoWk4Qcwy20habQJ9C0QQjiXKQVNuRWStRZBz4QeJNguq240pSg0tCGoT6ghwC2CPdJT1RsYBQVR6yjhtAWUmVQsdMDUqVBHR58v9RHUDtF3qfgP1unWZwgXcu0AAAAASUVORK5CYII=" width="9" height="24" class="aw-base-summaryOnlyBackButton">
            <a class="aw-base-tabTitle"></a>
        </div>
        <div class="aw-layout-headerProperties">
            <div class="aw-widgets-propertyContainer aw-layout-headerProperty" ng-repeat="xrtProperty in headerProperties">
                <div class="propertyLabelTopContainer">
                    <div class="aw-layout-left">
                        <div class="aw-widgets-propertyLabelTop">
                            {{locationObject.props[xrtProperty.name].propertyDescriptor.displayName}}:
                        </div>

                        <div class="aw-widgets-requiredIndicator hidden">*</div>
                    </div>
                </div>
                <div class="aw-widgets-propertyLabelTopValueContainer">
                    <div class="aw-widgets-propertyNonEditValue">
                        {{locationObject.props[xrtProperty.name].uiValue}}
                    </div>

                    <div class="aw-widgets-propertyErrorLabel hidden"></div>
                </div>
            </div>
        </div>
    </div>
</div>
