// Copyright 2018 Siemens Product Lifecycle Management Software Inc.

body.compact {

    /* cell list */
    .aw-widgets-cellListCellImage,
    .aw-widgets-cellListCellImage .aw-base-icon {
        max-width: 24px;
        max-height: 24px;
        width: 24px;
        height: 24px;
    }

    .aw-widgets-cellListCellTitle {
        font-size: $fontsize_large;
    }

    .aw-widgets-cellListItem .aw-base-small {
        font-size: $fontsize_normal;
    }

    .aw-widgets-modelObjectTypeIconOverlay>.aw-base-icon {
        visibility: hidden;
    }

    /* table */
    aw-table .aw-jswidgets-cellTop .aw-jswidgets-dataGridCellText,
    aw-table .aw-jswidgets-cellTop .aw-jswidgets-text {
        font-size: $fontsize_normal;
    }

    aw-table aw-model-icon .aw-base-icon {
        padding: 0 2px 2px 2px;
    }

    aw-treetable-command-cell .aw-jswidgets-dataGridCellText {
        padding-top: 4px;
    }

    aw-table-command-cell .aw-jswidgets-cellTop {
        align-items: normal;
    }

    aw-treetable-command-cell .aw-widgets-dataGridCellImage.aw-occmgmt-cellImageTooltip,
    aw-table-icon-cell .aw-widgets-gridCellColorContainer.aw-occmgmt-cellImageTooltip {
        width: rem-calc(18);
        height: rem-calc(18);
    }

    .aw-jswidgets-grid .aw-widgets-dataGridCellImage>.aw-base-icon {
        min-width: rem-calc(18);
        width: rem-calc(18);
        height: rem-calc(18);
        align-self: center;
    }

    .aw-jswidgets-grid .aw-widgets-dataGridCellImage {
        max-height: rem-calc(18);
        max-width: rem-calc(18);
        min-width: rem-calc(18);
        object-fit: cover;
    }

    /* PLTable Compact */
    .aw-splm-table .aw-splm-tableIconCell .aw-base-icon {
        min-height: rem-calc(18);
        min-width: rem-calc(18);
    }

    /* PLTable Compact */
    .aw-splm-tableIcon {
        height: rem-calc(18);
        width: rem-calc(18);
    }

    aw-splm-table .aw-splm-tablePinnedContainer .ui-grid-cell {
        height: 24px;
    }

    aw-splm-table .aw-splm-tableScrollContainer .ui-grid-cell {
        height: 24px;
    }

    aw-splm-table .aw-splm-tableCellTop,
    aw-splm-table .aw-splm-tableCellTop .aw-splm-tableCellText {
        font-size: $fontsize_normal;
    }

    .aw-splm-tablePropertyValueLinks {
        font-size: $fontsize_normal;
        padding: 0px;
    }

    .aw-splm-tableCellTop {
        padding: 0px;
        margin: 2px;
    }

    .aw-splm-table .aw-jswidgets-editableGridCell {
        min-height: rem-calc(16);
    }

    .aw-splm-tableCellTop .aw-jswidgets-gridCellCommands {
        height: auto;
    }

    .aw-splm-table aw-command-bar {
        &.aw-commands-commandBarHorizontal {
            .aw-commands-commandIconButton {
                height: 24px;
                width: 24px;
                padding: 2px;
            }
        }
    }
}
