/* Copyright 2019 Siemens Product Lifecycle Management Software Inc. */

aw-jt-viewer {
    width: 100%;
    min-width: 260px;
}

aw-3d-viewer-extended {
    width: 100%;
}

.aw-viewer-viewer3DContainer {
    position: absolute;
}

.aw-threeDViewer-viewer3DParentContainer {
    position: relative;
}

.aw-threeDViewer-viewer3DChildContainer {
    position: absolute;
    height: 100%;
    width: 100%;
}

.aw-threeDViewer-viewer3DChildContainer .aw-xrt-thumbnailImagePanel {
    position: absolute;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.aw-threeDViewer-viewer3DChildContainer .aw-xrt-thumbnailImagePanel .aw-xrt-thumbnailImage {
    height: 100%;
}

.aw-threeDViewer-loadProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.aw-threeDViewer-emmLoadProgressContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.aw-threeDViewer-loadProgress {
    @include align-self(flex-end);
    width: 4%;
    height: 0;
    padding-bottom: 4%;
    pointer-events: none;
}

.aw-threeDViewer-emmLoadProgress {
    @include align-self(center);
    width: 8%;
    height: 0;
    padding-bottom: 8%;
    pointer-events: none;
}
