/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2018.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

/* line under header */

.aw-matrix-container .ui-grid {
    border: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 536px;
}

.aw-matrix-container .aw-jswidgets-grid {
    height: 100%;
}

.aw-matrix-container .ui-grid {
    /* override ui-grid inline height... */
    height: 100% !important;
}


.aw-matrix-container div.ui-grid-header {
    border-style: solid;
}


div.aw-matrix-container .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    box-sizing: border-box;
    border-right: 2px solid;
    font-weight: bold;
}

.aw-matrix-container div.aw-jswidgets-grid .ui-grid-header-cell {
    text-transform: none;
    border-style: solid;
    border-collapse: collapse;
}

.aw-matrix-container .aw-jswidgets-grid .ui-grid-cell {
    padding: 0;
    border: 1px;
    border-style: solid;
}

.aw-matrix-container div.ui-grid-row:last-child .ui-grid-cell {
    border-style: solid;
}


.aw-matrix-container .aw-jswidgets-grid .aw-jswidgets-row-matrixHeader {
    padding: 0;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.aw-matrix-header {
    min-height: 190px;
    background-size: auto 120px;
    background-repeat: no-repeat;
    background-position: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.aw-matrix-container div.ui-grid-pinned-container-left.ui-grid-row.ui-grid-cell:first-child.ui-grid-cell-contents {
    font-size: $fontsize_2x_small;
    font-weight: 700;
}

.aw-matrix-container.aw-jswidgets-commonGrid {
    height: inherit;
}

/* override the override on the pinned columns to avoid extra scroll bars */

.aw-matrix-container .ui-grid-pinned-container .ui-grid-viewport,
.aw-matrix-container .ui-grid-pinned-container .ui-grid-viewport:hover {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}

.aw-jswidgets-grid .aw-matrix-cell {
    font-size: $fontsize_large;
    white-space: pre-line;
}

.aw-jswidgets-grid .ui-grid-row:nth-child(odd) .ui-grid-cell.aw-matrix-novalue {
    pointer-events: none;
}

.aw-jswidgets-grid .ui-grid-row:nth-child(even) .ui-grid-cell.aw-matrix-novalue {
    pointer-events: none;
}

.aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus,
.aw-matrix-container div.ui-grid-header-cell:hover,
.ui-grid-cell-contents.ui-grid-matrix-header-cell-selected,
.ui-grid-header-cell.ui-grid-matrix-header-cell-selected,
.aw-matrix-container div.ui-grid-header-cell:hover,
.ui-grid-cell.ui-grid-matrix-header-cell-selected,
.aw-jswidgets-compareContainer div.ui-grid-cell-focus.aw-jswidgets-selectedObject {
    opacity: 1.0;
}

.aw-jswidgets-grid div.ui-grid-cell-focus {
    opacity: 0.5;
}

aw-matrix-cell .aw-jswidgets-dataGridCellText {
    height: 40px;
}

div.aw-matrix-colHeader {
    white-space: nowrap;
    transform: translate(22px, 1px) rotate(-90deg);
    width: 180px;
    height: 200px;
    text-transform: initial;
    display: flex;
    font-weight: 500;
    cursor: pointer;
}

div.aw-matrix-colHeader span {
    padding: 6px;
}

div.aw-matrix-rowHeader {
    display: flex;
    align-self: center;
    width: 100%;
    text-overflow: ellipsis;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

div.aw-matrix-rowHeader span {
    display: inline-flex;
    align-self: center;
    padding-left: 4px;
}

.aw-matrix-rowColumnImage {
    height: 25px;
    display: inline-flex;
    align-items: center;
}

/* Matrix cell style for showing table */

.aw-matrix-cellContent {
    width: 60px;
    position: relative;
}

.aw-matrix-cellContent ul {
    width: 60px;
    position: relative;
}

.aw-matrix-cellContent ul:before,
.aw-matrix-cellContent ul:after {
    width: 48%;
}

.aw-matrix-cellContent ul:before {
    border-right: 0;
}

.aw-matrix-cellContent ul:after {
    position: absolute;
    top: 0;
    left: 48%;
}

.aw-matrix-cellContent ul li {
    text-align: center;
    width: 50%;
    float: left;
}

.aw-matrix-cellContent ul li:nth-child(even) {
    margin-left: -1px;
}

.aw-matrix-cellLabel {
    text-align: center;
    width: 48%;
    height: 18px;
    float: left;
    margin-bottom: -1px;
}

.aw-matrix-cellLabel:nth-child(even) {
    margin-left: -1px;
}

.aw-matrix-MainPanel {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

/*matrix header column style*/

.aw-matrix-MainPanel .ui-grid-header-viewport {
    overflow: hidden;
    height: 200px;
}
@media screen and (-ms-high-contrast: none) {    /* Windows 8+ IE only */
    .aw-matrix-MainPanel .ui-grid-header-viewport{
        overflow:hidden;
        height:215px;
    }
}
.aw-matrix-MainPanel .aw-jswidgets-tablecell {
    border-right: 2px solid;
    cursor: pointer;
    padding: 0;
}

.aw-matrix-MainPanel.aw-jswidgets-grid .ui-grid-header-cell:not(:first-child) {
    border-right-color: transparent;
}

.aw-matrix-MainPanel.aw-jswidgets-grid .ui-grid-row:nth-child(odd) .ui-grid-cell:first-child {
    background-color: transparent;
    border-right: 0;
}

.aw-matrix-MainPanel.aw-jswidgets-grid .ui-grid-row:nth-child(even) .ui-grid-cell:first-child {
    background-color: transparent;
    border-right: 0;
}

.aw-matrix-MainPanel.aw-jswidgets-grid .ui-grid-row .ui-grid-cell:not(:first-child) {
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-style: solid;
}

.aw-matrix-pinnedHeader {
    transform: translate(1px, 70px) rotate(0);
    width: 100%;
    height: 100%;
    font-size: $fontsize_large;
    font-weight: 700;
}

.aw-matrix-pinnedHeader li:first-child {
    font-weight: 400;
}

.aw-matrix-pinnedHeader li:not(:first-child) {
    padding-left: 7px;
}

.aw-matrix-pinnedHeader li {
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

aw-matrix .aw-matrix-MainPanel.aw-jswidgets-grid .ui-grid-row,
aw-matrix .aw-matrix-MainPanel.aw-jswidgets-grid .ui-grid-cell {
    height: 48px;
}

aw-matrix {
    display: contents;
}

aw-matrix .aw-jswidgets-grid .ui-grid-header-cell {
    text-transform: none;
}
