/*
@<COPYRIGHT>@
==================================================
Copyright 2017.
Siemens Product Lifecycle Management Software Inc.
All Rights Reserved.
==================================================
@<COPYRIGHT>@
*/

.aw-layout-aceEditorPanel {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 7px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 rem-calc(7);
}

.aw-layout-aceNavigationPanel {
    margin: 7px;
    width: 450px;
    flex: 0 0 auto;
}

.aw-layout-aceNavigationPanel .aw-jswidgets-tablePropGrid .ui-grid {
    min-height: 0;
}

.aw-layout-treePanel {
    margin: 0 7px 7px 7px;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.aw-layout-outline {
    padding-top: 5px;
    flex: 1 0 auto;
    display: flex;
    overflow-y: scroll;
    height: 1px;
}

.aw-layout-detailsPanel {
    margin: 7px 7px 0 7px;
    flex: 0 0 auto;
}

.aw-layout-ace {
    width: 100%;
    flex: 1 0 auto;
}
/* ace editor needs monospace font */
.aw-layout-ace * {
    font-family: monospace !important;
}

.aw-layout-xrtBreadCrumb {
    font-size: $fontsize_large;
    padding: rem-calc(5) 0 0 rem-calc(20);
}

.aw-layout-outline>treecontrol>ul {
    overflow: visible;
    height: 100%;
    white-space: nowrap;
}

.breadcrumbs>select {
    margin-right: 10px;
    font-size: $fontsize_normal;
}

.aw-commands-treeImage {
    width: 20px;
    height: 20px;
    float: right;
    display: none;
    white-space: nowrap;
}

.aw-commands-treeImageShown {
    display: block;
}

input.ds-edit {
    margin-bottom: 15px;
    width: 600px;
    padding: 1px;
}

.aw-layout-sublocationTabPanel.fiddle {
    flex: 1 1 auto;
}

.aw-layout-defaultSublocation.fiddle {
    flex: 1 0 auto;
}

.fiddle-icon {
    width: 24px;
    height: 24px;
    margin: 0;
}

.fiddle .aw-layout-panelTitle {
    padding: 10px 12px;
}

.aw-layout-commandBarFlexRow {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction:row;
}
