<div class="aw-layout-flexRow">
    <!-- Cell list image -->
    <div class="aw-widgets-cellListCellImage">

    </div>
    <!-- Cell list content -->
    <div class="aw-widgets-cellListCellContent">
        <div class="aw-widgets-cellListCellTitleBlock">
            <h3 title="{{vmo.uid}}" class="aw-widgets-cellListCellTitle" ng-if="vmo.props.title.uiValue">{{vmo.props.title.uiValue}}</h3>
            <h3 title="{{vmo.uid}}" class="aw-widgets-cellListCellTitle" ng-if="!vmo.props.title.uiValue">{{vmo.uid}}</h3>
        </div>
        <div class="aw-widgets-cellListCellProperties">
            <label class="aw-widgets-propertyValue aw-base-small" title="{{vmo.uid}}">{{vmo.uid}}</label>
        </div>
    </div>
</div>
