/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2016.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

.aw-geography-pickerView {
    padding : 20px;
    overflow-y : scroll;
}

.aw-geography-geographySectionTitle {    
    margin-top: 40px;
}

.aw-geography-selectLocationLabel {
    margin-bottom: 7px;
}

.aw-geography-section {
    max-width: 400px;
}

.aw-geography-confidentialSectionTitle {
    margin-top: 25px;
}

.aw-geography-confidentialStatement {
    min-height: 90px;
    max-height: 325px;
}

.aw-geography-confidentialCheck {
    padding-top: 20px;
    margin-left: -5px;    
}

.aw-geography-footer {
    max-width: 420px;
    margin-left: -10px;
    margin-right: -10px;
}


