// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
@import "mixins/_mixins.scss";

.aw-preferences-layoutColumn {
    @include flex( 4 );
    max-width: 100%;
}

// beginning of Org Tree classes
.aw-preferences-orgTreePanelContainer {
    width: 20%;
}

.aw-preferences-primaryWorkarea {
    width: 50%;
}

.aw-preferences-secondaryWorkarea {
    width: 30%;
}

.aw-preferences-orgTreePanel, .aw-preferences-orgTreeContainer {
    height: 100%;
}

.aw-preferences-orgTreeTable {
    padding: 20px 20px 0 20px;
}

.aw-preferences-orgTreeFilterBox {
    padding: 20px 20px 0 20px;
}

// beginning of preferences secondary workarea classes
.aw-preferences-propertiesSectionContainer {
    height: 90%;
    overflow: auto;
}

.aw-preferences-editButtonsContainer {
    height: 10%;
}

.aw-preferences-wrapColumns {
    flex-wrap: wrap;
}

.aw-preferences-value {
    padding: 4px;
}

.aw-preferences-editButtons {
    max-width: 100px;
    float: right;
    margin: 5px 20px;
}
