// @<COPYRIGHT>@
// ==================================================
// Copyright 2020.
// Siemens Product Lifecycle Management Software Inc.
// All Rights Reserved.
// ==================================================
// @<COPYRIGHT>@

.aw-layout-panelContent .aw-epCreateObject-backCmd.aw-base-iconButton {
    margin-left: 10px;
    padding-top:16px;
}

.aw-epCreateObject-addProjectHeaderTitle {
    font-size: $fontsize_2x_large;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}
