// Copyright 2018 Siemens Product Lifecycle Management Software Inc.

/*
 * JQuery Resizable CSS
 */

aw-float-pdf-popup .ui-resizable {
    position: relative;
}

aw-float-pdf-popup .ui-resizable-handle {
    position: absolute;
    display: block;
}

aw-float-pdf-popup .ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

aw-float-pdf-popup .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

aw-float-pdf-popup .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

aw-float-pdf-popup .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

aw-float-pdf-popup .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

aw-float-pdf-popup .ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
}

aw-float-pdf-popup .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

aw-float-pdf-popup .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

aw-float-pdf-popup .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

/*
 * JQuery Draggable CSS
 */
aw-float-pdf-popup .ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

aw-float-pdf-popup .ui-draggable-handle {
    -ms-touch-action: none;
    touch-action: none;
    cursor: move;
}

/*
 * Window popup animation settings.
 */
aw-float-pdf-popup .aw-popup-animate {
    opacity: 1;
    transition: opacity 0.5s;
}

/*
 * The main popup window container.
 */
aw-float-pdf-popup .aw-popup-contentContainer {
    border-width: 1px;
    border-style: solid;
    position: relative;
    width: 60%;
    height: 75%;
    min-height: 200px;
    min-width: 300px;
}

/*
 * Need to specify flex as well as flex direction (column) otherwise it won't
 * "fit" within the popup container.
 * Display 'flex' and webkit variants are needed to ensure that the graph SVG
 * containers (internal divs) never take up more than the allotted space.
 */
aw-float-pdf-popup form.aw-layout-panelBody {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*
 * These need to specify 100% height and width otherwise graph SVG container
 * wont resize with the popup.
 */
aw-float-pdf-popup .aw-graph-canvas {
    width: 100%;
    height: 100%;
}

/*
 * Vertically centers the children of the top bar (breadcrumb, current diagram label, commands).
 * The justify content: flex-start is needed by IE to keep commands on dialog, but the
 * 'space-evenly' looks better on other browsers.
 */
aw-float-pdf-popup .aw-layout-workareaCommandbar {
    align-items: center;
    justify-content: flex-end;
}

/* Overrides the last chevron's click cursor in the breadcrumb to be a move cursor. */
aw-float-pdf-popup .move-cursor {
    cursor: move;
}

/*
 * Specifies the style for the preview and set as default buttons in the footer.
 */
aw-float-pdf-popup .aw-layout-panelFooter button:not(.hidden) {
    min-width: 100px;
    height: 30px;
    border: none;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    cursor: pointer;
    text-align: center;
    font-family: $font-family;
    line-height: 28px;
    font-size: $fontsize_normal;
    float: right;
}

/*
 * Remove padding around viewer
 */
aw-float-pdf-popup .aw-layout-panelBody {
    padding: 0px;
}

/*
 * Hide the viewer's header
 */
aw-float-pdf-popup .aw-viewerjs-header {
    display: none;
}

/*
 * Prevent popup commands from word wrapping
 */
.aw-docmgmt-popupCommandbar {
    min-width: 88px;
    justify-content: flex-end;
}

/*
 * Modal background
 */
aw-float-pdf-popup .aw-docmgmt-popupScreenMask {
    opacity: .4;
    z-index: 1000;
}

.aw-docmgmt-pdfPage {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.aw-docmgmt-pdfButton .aw-widgets-propertyLabelTopValueContainer{
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.aw-docmgmt-floatWindow{
    z-index: 1001;
}