<div class="aw-widgets-propertyContainer">
    <aw-property-label prop="prop" ng-if="prop.propertyLabelDisplay !== 'NO_PROPERTY_LABEL' &&
        prop.propertyLabelDisplay !== 'PROPERTY_LABEL_AT_RIGHT'"></aw-property-label>
    <aw-pattern prop="prop" ng-if="prop.patterns && prop.isEditable && prop.isAutoAssign==false"></aw-pattern>
    <div class="aw-widgets-propertyLabelTopValueContainer">
        <div class="aw-jswidgets-propertyVal" ng-controller="awPropertyController">
            <aw-checkbox-list prop="prop"></aw-checkbox-list>
        </div>
    </div>
</div>
