<div class="aw-widgets-propertyContainer">
    <div class="aw-search-checkboxWithReset">
        <div>
            <aw-property-label prop="prop" title="{{prop.description}}" ng-if="prop.propertyLabelDisplay !== 'NO_PROPERTY_LABEL' &&
        prop.propertyLabelDisplay !== 'PROPERTY_LABEL_AT_RIGHT'"></aw-property-label>
        </div>
        <div class="aw-search-resetIcon">
            <aw-icon title="{{reset}}" visible-when="prop.resetEnabled === true" ng-click="doit(resetAction)" reset-action="resetAction" icon-id="cmdReset"></aw-icon>
        </div>
    </div>
    <aw-pattern prop="prop" ng-if="prop.patterns && prop.isEditable && prop.isAutoAssign==false"></aw-pattern>
    <div class="aw-widgets-propertyLabelTopValueContainer">
        <div class="aw-jswidgets-lovParentContainer aw-jswidgets-lovParent" ng-class="{'aw-jswidgets-popUpVisible': expanded}">
            <div class="aw-layout-flexRowContainer aw-widget-iconParent">
                <input ng-readonly="!prop.suggestMode || prop.suggestMode && selectedPHolders.length>0" class="aw-jswidgets-choice gwt-ListBox" type="text" ng-attr-title="{{prop.uiValue}}" aw-widget-initialize aw-autofocus auto-focus="prop.autofocus" ng-model="prop.uiValue" ng-click="toggleDropdown()" ng-class="{'aw-jswidgets-expanded': expanded, 'changed': prop.dirty}" ng-required="prop.isRequired" placeholder="{{prop.propertyRequiredText}}" ng-attr-tabindex="{{prop.tabIndex}}" />
                <aw-property-image name="miscDownArrow_uxRefresh" class="aw-widget-icon" ></aw-property-image>
            </div>
        </div>
    </div>
</div>
