<div class="aw-search-searchResultsChart">
    <div class="aw-search-searchResultsChartTitle" ng-if="ctx.chartProvider && ctx.search.filterCategories.length > 0 && (!ctx.searchInfo.thresholdExceeded || ctx.searchInfo.thresholdExceeded === 'false')">
        {{ctx.chartProvider.chartTitleString}}
    </div>
    <div class="aw-search-searchResultsChartSelector" ng-if="ctx.chartProvider && ctx.search.filterCategories.length > 0 && (!ctx.searchInfo.thresholdExceeded || ctx.searchInfo.thresholdExceeded === 'false')">
        <aw-listbox prop="data.chartListboxPropData" list="ctx.chartProvider.chartListboxListData.dbValue" action="triggerSelectCategoryHeaderEvent"></aw-listbox>
    </div>
    <aw-column-chart class="aw-search-columnChart" ng-if="ctx.chartProvider && ctx.search.filterCategories.length > 0 && (ctx.chartProvider.category.type !=='ObjectFilter' || ctx.chartProvider.category.filterValues.childnodes.length === 0) && (!ctx.searchInfo.thresholdExceeded || ctx.searchInfo.thresholdExceeded === 'false')" chart-provider="ctx.chartProvider"></aw-column-chart>
    <aw-search-visualnavigationcontent class="aw-search-visualNavigationContent" ng-if="ctx.chartProvider.category.type==='ObjectFilter' && ctx.chartProvider.category.filterValues.childnodes.length !== 0 && (!ctx.searchInfo.thresholdExceeded || ctx.searchInfo.thresholdExceeded === 'false')" > </aw-search-visualnavigationcontent>
</div>
