<div class="aw-search-globalSearchWidgetContainer">
    <div class="aw-search-globalSearchBoxContainer aw-layout-flexRowContainer">
        <div class="aw-search-globalSearchContainer" ng-class="{'aw-search-slideRight': conditions.isSearchBoxCollapsed }" visible-when="!conditions.isSearchBoxCollapsed">
            <div class="aw-search-globalSearchElementsContainer">
                <div class="aw-search-globalSearchPreFilterWrapper">
                    <div class="aw-search-searchPreFilterPanel1">
                        <aw-search-prefilter prop="data.selectPrefilter1" list="data.prefilterList1" action="updatePrefilter1"
                                            default-selection-value="{{data.defaultPrefilter1Value.dbValue}}" aria-label= "{{data.defaultPrefilter1Value.dbValue}}" ></aw-search-prefilter>
                    </div>
                    <div class="aw-search-searchPreFilterPanel2">
                        <aw-search-prefilter prop="data.selectPrefilter2" list="data.prefilterList2" action="updatePrefilter2"
                                            default-selection-value="{{data.defaultPrefilter2Value.dbValue}}" aria-label= "{{data.defaultPrefilter2Value.dbValue}}" ></aw-search-prefilter>
                    </div>
                </div>
                <div class="aw-search-globalSearchWrapper">
                    <aw-search prop="searchProp" show-suggestions="showSuggestions" suggestion-action="suggestionAction" show-popup="showPopup"></aw-search>
                </div>
            </div>
            <div class="aw-search-globalSearchLinksContainer">
                <div class="aw-search-globalSearchLinksPadding"></div>
                <div class="aw-search-globalSearchLinksContainer2">
                    <div class="aw-search-globalSearchLinksPanel2">
                        <aw-include name="revisionContext"></aw-include>
                    </div>
                    <div class="aw-search-globalSearchLinksPanel1">
                        <aw-link prop="advancedSearchProp" ng-if="ctx.advancedSearchVisibility == 'true'" action="{{action}}"></aw-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="aw-search-searchIconViewContainer aw-search-fullModeSearchIconViewContainer" visible-when="conditions.isSearchBoxCollapsed">
            <aw-icon class="aw-uiwidgets-searchBoxIcon aw-search-searchToggleButton aw-aria-border" ng-click="toggleSearchBoxVisibility()" ng-keydown="openGlobalSearchKeyPress($event)" icon-id="cmdSearch" tabindex="0" extended-tooltip='{"extendedTooltipContent": "{{$parent.i18n.expandSearch}}"}'></aw-icon>
        </div>
    </div>
    <div class="aw-search-searchIconViewContainer aw-search-searchPanelToggleIconContainer">
        <aw-icon class="aw-uiwidgets-searchBoxIcon aw-search-searchToggleButton" ng-click="toggleNarrowModeSearchPanelVisibility()" icon-id="cmdSearch" extended-tooltip='{"extendedTooltipContent": "{{$parent.i18n.expandSearchPanel}}"}'></aw-icon>
    </div>
</div>
