// // Copyright 2020 Siemens Product Lifecycle Management Software Inc.

// // mixins
// @import 'mixins/mixins';


.aw-clsadmin-float {
    float: right;
}

.aw-clsadmin-nodes {
    padding: 0;
}

.aw-clsadmin-column2 .aw-base-blk-button {
    margin: 8px 0;
}
//import in top line
.aw-clsadmin-import {
    margin: 8px 8px 0 8px;
}
.aw-clsadmin-import .aw-base-blk-button{
    width: 100px;
    float: right;
    margin: 4px;
    padding: 4px;
}
//import in Summary line
.aw-clsadmin-import2 {
    margin: 8px;
}

.aw-clsadmin-import2 .aw-base-blk-button {
    margin: 0;
}

.aw-clsadmin-column1 .aw-layout-panelSectionContent,
.aw-clsadmin-column2 .aw-layout-panelSectionContent,
.aw-clsadmin-columnLast .aw-layout-panelSectionContent {
    height: 50%;
}

.aw-clsadmin-column1,
.aw-clsadmin-column2,
.aw-clsadmin-columnLast {
    padding: 8px;
    width: 22%;
}
.aw-clsadmin-column1 {
    padding-left: 16px;
}

.aw-clsadmin-columnLast {
    padding-right: 16px;
}

.aw-clsadmin-column_panel {
    margin-top: -50px;
    height: calc(100vh - 420px);
}
.aw-clsadmin-column_panel2 {
    margin-top: -42px;
    height: calc(100vh - 95px);
}

.aw-clsadmin-dashboard {
    width: 96%;
    position: fixed;
    .aw-layout-flexbox {
        height: 95%;
    }
}

.aw-cls-admin-dash {
    width: 100%;
}

.aw-clsadmin-columnChart {
    height: 250px;
    padding: 0 350px 0 0;
    width: 50%
}

.aw-clsadmin-summary {
    padding: 16px;
}

.aw-clsadmin-objects .aw-negative-button  {
    border: none;
    padding: 0;
    margin: 0;
}

.aw-clsadmin-objectNames{
    padding-right: 4px;
}

.aw-clsadmin-objectNamesList{
    padding-bottom: 5px;
}

.aw-clsadmin-objects .aw-widgets-chip:not(.disabled):not(.aw-widgets-staticChip) {
    box-shadow: none;
}

.aw-clsadmin-objects .aw-widgets-chip:not(.disabled):not(.aw-widgets-staticChip):hover {
    box-shadow: none;
}

.aw-clsadmin-classTable aw-splm-table,
.aw-clsadmin-classAttrTable aw-splm-table,
.aw-clsadmin-nodeTable aw-splm-table,
.aw-clsadmin-keyLovTable aw-splm-table,
.aw-clsadmin-propertyTable aw-splm-table {
    .aw-splm-tableViewport {
        overflow-x: hidden;
    }
    .aw-splm-tablePinnedRow.ui-grid-row .ui-grid-cell:last-child {
        border: none;
    }
}

.aw-clsadmin-classes aw-splm-table {
    .aw-splm-tableHeaderCell:last-of-type .aw-splm-tableHeaderCellSplitter {
        display: none;
    }
}

.aw-clsadmin-propertyTable .aw-search-inContentSearchBox,
.aw-clsadmin-keyLovTable .aw-search-inContentSearchBox,
.aw-clsadmin-classTable .aw-search-inContentSearchBox,
.aw-clsadmin-nodeTable .aw-search-inContentSearchBox {
    width: auto;
    padding: 16px 16px 10px 16px;
}

.aw-clsadmin-message{
    padding: 4px;
}

.aw-clsadmin-cellListCellContent {
    float: left;
    width: 100%;
}

.aw-clsadmin-filters .aw-layout-panelSection {
    margin-bottom: 0;
}

.aw-clsadmin-filters .aw-search-settings {
    padding: 16px;
}

.aw-clsadmin-propsSection {
    padding: 16px 16px 0 16px;
    width: 90%;
}

.aw-clsadmin-addlProps {
    padding-top: 0;
    margin-top: -10px;
}
