/* Copyright 2019 Siemens Product Lifecycle Management Software Inc. */

.aw-richtexteditor-qualityMatchedPath {
    color: $Siemens_Status_Green_12;
}

.aw-richtexteditor-qualityRestOfShortestPath {
    color: $Siemens_Red_18;
}

.aw-relationshipmatrix-mainSvg .highlight {
    fill: $brand_selection_background_hover;
}

.aw-relationshipmatrix-cell .heated {
    fill: $aw_ns_red;
}

.aw-relationshipmatrix-cell .inactive {
    fill: $brand_primary_border;
}

.aw-relationshipmatrix-cell .selected-cell {
    fill: $brand_selection_background_selected;
}

.aw-relationshipmatrix-mainSvg {
    stroke: $brand_primary_border;
    fill: $brand_primary_content_background;
}

.aw-relationshipmatrix-link {
    stroke: $brand_primary_link;
    fill: $brand_primary_link;
}

.aw-richtexteditor-tracelinkDashboard .col-title {
    border-color: $brand_primary_border;
}