<div class="aw-widgets-propertyContainer">
    <aw-property-label prop="prop" ></aw-property-label>
    <div class="aw-markup-gdntSymbols">
        <span ng-repeat="v in list" title="{{v.propDisplayValue}}" ng-click="selected(v)">
            {{v.propInternalValue}} 
        </span>
    </div>
    <br/>
    <table cellpadding="2" class="aw-markup-gdntFrame">
        <tr>
            <td><input type="text" size="2" /></td>
            <td><input type="text" size="50" /></td>
            <td><input type="text" size="2" /></td>
            <td><input type="text" size="2" /></td>
            <td><input type="text" size="2" /></td>
        </tr>
    </table>
</div>