/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2016.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

/* follow */
.aw-widgets-cellListCellTitleBlock.aw-subscription-unReadCellTitle .aw-widgets-cellListCellItemType,
.aw-widgets-cellListCellProperties.aw-subscription-unReadCellTitle .aw-widgets-propertyLabel,
.aw-widgets-cellListCellProperties.aw-subscription-unReadCellTitle .aw-widgets-propertyValue{
    font-weight: bold;
}

.aw-notificationAlert-popupbody {
    max-width: 250px;
}

.aw-notificationAlert-subjectLink a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
}

.aw-notificationAlert-appHeader .aw-base-normal a{
    font-size: $fontsize_large;
    font-weight: 600;
    padding-left: 10px;
}

.aw-notificationAlert-cellHeaderLabel{
    font-weight: 700;
    font-size: $fontsize_large;
}

.aw-notificationAlert-propertyCellLabel,
.aw-notificationAlert-propertyCellValue{
    font-size: $fontsize_normal;
}

.aw-notificationAlert-noNotificationMessageLabel{
    font-size: $fontsize_large;
}
