
<div class="aw-classificationpanelsjs-searchVisualNavigationContent aw-base-scrollPanel">
    <div class="aw-layout-panelBody">

        <div class="aw-widgets-cellListWidgetContainer">
            <ul class="aw-widgets-cellListWidget aw-layout-flexRowContainer" ng-show="true">
                <li class="aw-widgets-cellListItem aw-widgets-cellTop aw-cls-widgets-cellListItemSelected" aw-repeat="item : vncScope.currentLevel.children" ng-click="parentClick(item, $last, $index)">
                    <div class="aw-vnc-classname-header">
                        <div class="aw-widgets-cellListCellContent">
                            <div class="aw-widgets-cellListCellTitleBlock">
                                <span title="{{item.className}}" class="aw-widgets-cellListCellTitle" cell-title-id="CellTitle">{{item.className}}</span>
                                <label class="aw-widgets-cellListCellItemType aw-base-small" title="{{item.className}}"></label>
                            </div>
                        </div>
                    </div>
                    <div ng-switch="(item.iconAvailable || item.classDescription === '')" class="aw-class-info" ng-class="item.children.length ? 'aw-vnc-child-exists' : 'aw-vnc-no-child-exists'">
                        <div ng-switch-when="true">
                            <div class="aw-widgets-cellListCellImage" ng-class="item.iconAvailable ? 'aw-vnc-custom-icon' : 'aw-vnc-default-icon'">
                                <div cls-vnc-id="CellThumbnail" class="aw-base-large-thumbnail">
                                    <div class="aw-widgets-modelObjectThumbnailContainer">
                                        <div class="aw-widgets-modelObjectThumbnail">
                                            <aw-image class="aw-base-icon" source="imageURL" aw-repeat="imageURL : item.typeIconFileUrl" visible-when="imageURL" title="{{item.classDescription}}"></aw-image>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-switch-default>
                            <div class="aw-widgets-classDescription">
                                {{ item.classDescription }}
                            </div>
                        </div>
                    </div>
                    <div class="aw-cls-nextLvlChildren">
                        <aw-cls-subchildren-link title="{{secondLevelChildren.className}}" aw-repeat="secondLevelChildren : item.children | limitTo: maxChildrenToBeShown" prop="secondLevelChildren" ng-click="childClick(secondLevelChildren, item, $last, $index); $event.stopPropagation();"></aw-cls-subchildren-link>
                    </div>
                    <div class="aw-cls-label" exist-when="item.children.length > maxChildrenToBeShown">
                        <label>
                            <aw-i18n>i18n.more</aw-i18n>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
