<div class="aw-cls-pair">
    <div class="aw-cls-propertyContainer"
        ng-if="data.showAllProp || prop[0].uiValue.length > 0 || data.panelMode !== -1">

        <!-- Label -->
        <div ng-class="{'aw-cls-propertyLabelAnno': !data.isPanel && (prop[0].type !== 'BOOLEAN' || (prop[0].type === 'BOOLEAN' && data.panelMode === -1)),
                        'aw-cls-propertyLabelAnnoCreatePanel': data.isPanel === true}" ng-style="{'width': getAttrWidth()}" ng-click="selectNode(attribute, $event)">
            <div ng-if="!(data.panelMode !== -1 && prop[0].type === 'BOOLEAN')"
                ng-class="{'aw-cls-propertyLabelField': !data.isPanel}">
                <aw-property-label class="aw-cls-propertyLabel" aw-class="{'aw-state-selected': prop[0].selected }" prop="prop[0]"
                    ng-if="prop[0].labelProps.length === 0 && (prop[1].propertyDisplayName === '' || (prop[1].propertyDisplayName !== '' && ctx.clsTab.classifyShowAnnotations===false && ctx.locationContext['ActiveWorkspace:SubLocation'] !== 'clsNodes' ))"
                    ng-style="{'padding-left': propalign, 'margin-right': annoalign}"
                    ng-click="selectNode(attribute)"></aw-property-label>
                <aw-property-label class="aw-cls-propertyLabel" aw-class="{'aw-state-selected': prop[0].selected }" prop="prop[0]"
                    ng-if="prop[0].labelProps.length === 0 && (prop[1].propertyDisplayName !== '' && (prop[1].propertyDisplayName !== '' && ctx.clsTab.classifyShowAnnotations===false && ctx.locationContext['ActiveWorkspace:SubLocation'] === 'clsNodes' ))"
                    ng-style="{'padding-left': propalign, 'margin-right': annoalign}"
                    ng-click="selectNode(attribute)"></aw-property-label>
                <aw-property-label class="aw-cls-propertyLabel" prop="prop[0]"
                    ng-if="prop[0].labelProps.length > 0 && (prop[1].propertyDisplayName === '' || (prop[1].propertyDisplayName !== '' && ctx.clsTab.classifyShowAnnotations===false && ctx.locationContext['ActiveWorkspace:SubLocation'] !== 'clsNodes' ))"
                    ng-style="{'padding-left': propalign, 'margin-right': annoalign}" extended-tooltip-context="prop"
                    extended-tooltip="data.showLabelTooltip"></aw-property-label>
                <div class="aw-cls-propertyLabel aw-widgets-propertyLabel"
                    ng-class="{'afx-property-required': prop[0].isRequired && prop[1].propertyDisplayName !== ''}"
                    ng-if="prop[0].labelProps.length === 0 && prop[1].propertyDisplayName !== '' && (ctx.clsTab.classifyShowAnnotations===true || data.isPanel === true)"
                    ng-style="{'padding-left': propalign, 'margin-right': annoalign}">{{prop[0].propertyDisplayName}}
                </div>
                <div class="aw-cls-propertyLabel aw-widgets-propertyLabel"
                    ng-class="{'afx-property-required': prop[0].isRequired && prop[1].propertyDisplayName !== ''}"
                    ng-if="prop[0].labelProps.length > 0 && prop[1].propertyDisplayName !== '' && (ctx.clsTab.classifyShowAnnotations===true || data.isPanel === true) "
                    ng-style="{'padding-left': propalign, 'margin-right': annoalign}" extended-tooltip-context="prop"
                    extended-tooltip="data.showLabelTooltip">
                    {{prop[0].propertyDisplayName}}</div>
            </div>
            <!-- Annotation -->
            <aw-property-label class="aw-cls-propertyAnnotationLabel" prop="prop[1]" ng-if="prop[1].propertyDisplayName !== '' && (prop[0].type !== 'BOOLEAN' || (prop[0].type === 'BOOLEAN' && data.panelMode === -1))
                        && (ctx.clsTab.classifyShowAnnotations===true || data.isPanel === true)"></aw-property-label>
        </div>
        <div ng-if="data.isPanel" class="aw-cls-unit">{{prop[2].propertyDisplayName}}</div>
        <!-- Value -->
        <div class="aw-widgets-propertyLabelTopValueContainer" ng-if="!data.isPanel &&
                prop[0].metricFormat.formatDefinition.formatType<5" ng-class="{ 'aw-cls-extendedPropBool': prop[0].type === 'BOOLEAN' && data.panelMode !== -1,
                'aw-cls-extendedPropEdit': prop[0].type !== 'BOOLEAN' && data.panelMode === 1,
                'aw-cls-extendedPropCreate': prop[0].type !== 'BOOLEAN' && data.panelMode === 0,
                'aw-cls-extendedProp': data.panelMode === -1}" ng-style="{'padding-left': prop[0].type === 'BOOLEAN' && data.panelMode !== -1 ? propalign : '0px', 'margin-right': prop[0].type === 'BOOLEAN' && data.panelMode !== -1 ? annoalign : '0px',
                            'width': getAttrValueWidth()}">
            <!-- non-required fields-->
            <div ng-if="(prop[0].isRequired !== true)" class="aw-jswidgets-propertyVal"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"></aw-property-val>
            </div>

            <!-- non-checkbox fields which are required -->
            <div ng-if="(prop[0].isRequired === true && prop[0].type !== 'BOOLEAN')" class="aw-jswidgets-propertyVal"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"></aw-property-val>
            </div>

            <!-- checkbox fields which are required -->
            <div ng-if="(prop[0].isRequired === true && prop[0].type === 'BOOLEAN')"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"></aw-property-val>
            </div>
        </div>
        <!-- unique classes REQUIRED in complex aw-property-val for cucumber to be able to find element -->
        <div class="aw-widgets-propertyLabelTopValueContainer" ng-if="!data.isPanel" ng-class="{
                'aw-cls-complexExtendedPropEdit': prop[0].type !== 'BOOLEAN' && data.panelMode === 1,
                'aw-cls-complexExtendedPropCreate': prop[0].type !== 'BOOLEAN' && data.panelMode === 0,
                'aw-cls-complexExtendedProp': data.panelMode === -1}">
            <!-- Axis -->
            <div ng-if="(prop[0].isRequired !== true && prop[0].metricFormat.formatDefinition.formatType === 9) "
                ng-controller="awPropertyController">
                <div class="aw-cls-complex">
                    <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"
                        class="aw-complex-x"></aw-property-val>
                    <aw-property-val prop="prop[3]" modifiable="$parent.modifiable" hint="$parent.hint"
                        class="aw-complex-y"></aw-property-val>
                    <aw-property-val prop="prop[4]" modifiable="$parent.modifiable" hint="$parent.hint"
                        class="aw-complex-z"></aw-property-val>
                </div>
                <div class="aw-cls-complex">
                    <aw-property-val prop="prop[5]" modifiable="$parent.modifiable" hint="$parent.hint"
                        class="aw-complex-rx"></aw-property-val>
                    <aw-property-val prop="prop[6]" modifiable="$parent.modifiable" hint="$parent.hint"
                        class="aw-complex-ry"></aw-property-val>
                    <aw-property-val prop="prop[7]" modifiable="$parent.modifiable" hint="$parent.hint"
                        class="aw-complex-rz"></aw-property-val>
                </div>
            </div>
            <!-- Position -->
            <div ng-if="prop[0].metricFormat.formatDefinition.formatType === 8" class="aw-cls-complex"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-x"></aw-property-val>
                <aw-property-val prop="prop[3]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-y"></aw-property-val>
                <aw-property-val prop="prop[4]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-z"></aw-property-val>
            </div>
            <!-- Value_Range -->
            <div ng-if="prop[0].metricFormat.formatDefinition.formatType === 5" class="aw-cls-complex"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-min"></aw-property-val>
                <aw-property-val prop="prop[3]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-max"></aw-property-val>
            </div>
            <!-- Value_With_Tolerance -->
            <div ng-if="prop[0].metricFormat.formatDefinition.formatType === 6" class="aw-cls-complex"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-nom"></aw-property-val>
                <aw-property-val prop="prop[3]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-min"></aw-property-val>
                <aw-property-val prop="prop[4]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-max"></aw-property-val>
            </div>
            <!-- Level -->
            <div ng-if="prop[0].metricFormat.formatDefinition.formatType === 7 " class="aw-cls-complex"
                ng-controller="awPropertyController">
                <aw-property-val prop="prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-nom"></aw-property-val>
                <aw-property-val prop="prop[3]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-typ"></aw-property-val>
                <aw-property-val prop="prop[4]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-min"></aw-property-val>
                <aw-property-val prop="prop[5]" modifiable="$parent.modifiable" hint="$parent.hint"
                    class="aw-complex-max"></aw-property-val>
            </div>
        </div>
        <!-- Annotation for boolean in create/edit mode-->
        <div ng-if="prop[0].type === 'BOOLEAN' && data.panelMode !== -1 && !data.isPanel && ctx.clsTab.classifyShowAnnotations===true"
            ng-class="{ 'aw-cls-propertyAnnotationLabelBool': (!ctx.classifyFullscreen || ctx.classifyFullscreen === false) && ctx.locationContext['ActiveWorkspace:SubLocation'] !== 'showObject',
                    'aw-cls-propertyAnnotationLabelBoolOpen': (!ctx.classifyFullscreen || ctx.classifyFullscreen === false) && ctx.locationContext['ActiveWorkspace:SubLocation'] === 'showObject',
                    'aw-cls-propertyAnnotationLabelBoolFS': ctx.classifyFullscreen===true }">
            {{prop[1].propertyDisplayName}}
        </div>

        <!-- Edit mode -->
        <div ng-if="!data.isPanel"
            ng-class="{ 'aw-cls-unitDiv': prop.length <= 3 || prop[0].metricFormat.formatDefinition.formatType === 7,
            'aw-cls-unitDivTwoProps': prop.length === 4 &&  prop[0].metricFormat.formatDefinition.formatType !== 7,
            'aw-cls-unitDivThreePropsOrMore': prop.length > 4 &&  prop[0].metricFormat.formatDefinition.formatType !== 7}">
            <div class="aw-jswidgets-propertyVal" ng-controller="awPropertyController"
                exist-when="data.panelMode !== -1">
                <aw-icon class="aw-uiwidgets-searchBoxIcon" icon-id="cmdCreateGroup" ng-click="generateCardinalBlocks()"
                    exist-when="cardinalattribute && prop[0].isEditable" title="{{data.i18n.createInstances}}">
                </aw-icon>
            </div>
            <div exist-when="prop[2].propertyDisplayName.length > 0 && prop[2].names">
                <div ng-if="data.panelMode !== -1" style="margin-left: 5px; margin-top: 5px">
                    <aw-cls-list display="prop[2].display" current-value="prop[2]"
                        available-intent-values="prop[2].lovApi" attribute="prop" data="data" parent="parentattribute"
                        class="aw-cls-list" style="white-space: nowrap">{{prop[2].propertyDisplayName}}</aw-cls-list>
                </div>
                <div ng-if="data.panelMode === -1">
                    <aw-cls-list display="prop[2].display" current-value="prop[2]"
                        available-intent-values="prop[2].lovApi" attribute="prop" data="data" parent="parentattribute"
                        class="aw-cls-list" style="white-space: nowrap">{{prop[2].propertyDisplayName}}</aw-cls-list>
                </div>
            </div>
            <div class="aw-cls-propertyUnits" ng-class="{ 'aw-cls-propertyUnitsEdit': prop[0].isEditable }"
                exist-when="prop[2].propertyDisplayName.length > 0 && !prop[2].names">{{prop[2].propertyDisplayName}}
            </div>
            <aw-icon class="aw-cls-showMinMax" icon-id="homeHelp"
                exist-when="( data.panelMode !== -1 && prop[0].minMaxMsg.length > 0 ) && prop.length <= 3"
                extended-tooltip-context="prop" extended-tooltip="data.showMinMaxTooltip"></aw-icon>
            <aw-icon class="aw-cls-showComplexMinMax" icon-id="homeHelp" exist-when="prop.length > 3"
                extended-tooltip-context="prop" extended-tooltip="data.showMinMaxTooltip"></aw-icon>
        </div>
    </div>
    <div class='aw-cls-extendedPropPanel' ng-class="{'aw-cls-extendedPropPanel':prop[1].propertyDisplayName === ''}"
        ng-if="data.isPanel === true">
        <div class="aw-widgets-propertyLabelTopValueContainer">
            <div class="aw-jswidgets-propertyVal" ng-controller="awPropertyController">
                <aw-property-val prop="$parent.prop[0]" modifiable="$parent.modifiable" hint="$parent.hint"
                    ng-class="{ 'aw-cls-propertyLabelAnnoPanel': prop[0].type === 'BOOLEAN' && data.panelMode !== -1}">
                </aw-property-val>
                <!-- Annotation -->
                <span class="aw-cls-propertyAnnotationLabelPanel"
                    ng-if="prop[0].type === 'BOOLEAN' && data.panelMode !== -1">{{prop[1].propertyDisplayName}}</span>
                <aw-icon class="aw-uiwidgets-searchBoxIcon" icon-id="cmdCreateGroup" ng-click="generateCardinalBlocks()"
                    exist-when="cardinalattribute && prop[0].isEditable" title="{{data.i18n.createInstances}}">
                </aw-icon>
            </div>
        </div>
        <div class="aw-cls-minMaxLabelContainer" exist-when="prop[0].isEditable">
            <!-- Metric -->
            <div visible-when="data.unitSystem.dbValue">
                <label class="aw-cls-minMaxLabel aw-cls-minMaxLabelMin"
                    visible-when="prop[0].metricFormat.minimumValue && !prop[0].metricFormat.maximumValue">{{data.i18n.minimumConstraintLabel}}</label>
                <label class="aw-cls-minMaxLabel aw-cls-minMaxLabelMax"
                    visible-when="!prop[0].metricFormat.minimumValue && prop[0].metricFormat.maximumValue">{{data.i18n.maximumConstraintLabel}}</label>
                <label class="aw-cls-minMaxLabel aw-cls-minMaxLabelRange"
                    visible-when="prop[0].metricFormat.minimumValue && prop[0].metricFormat.maximumValue">{{data.i18n.rangeConstraintLabel}}</label>
                <label
                    class="aw-cls-minMaxLabel aw-cls-minMaxLabelMinValue">{{prop[0].metricFormat.minimumValue}}</label>
                <label class="aw-cls-minMaxLabel"
                    ng-if="prop[0].metricFormat.minimumValue && prop[0].metricFormat.maximumValue">{{data.i18n.dashConstraintLabel}}</label>
                <label
                    class="aw-cls-minMaxLabel aw-cls-minMaxLabelMaxValue">{{prop[0].metricFormat.maximumValue}}</label>
            </div>
            <!-- NonMetric -->
            <div visible-when="!data.unitSystem.dbValue">
                <label class="aw-cls-minMaxLabel aw-cls-minMaxLabelMin"
                    visible-when="prop[0].nonMetricFormat.minimumValue && !prop[0].nonMetricFormat.maximumValue">{{data.i18n.minimumConstraintLabel}}</label>
                <label class="aw-cls-minMaxLabel aw-cls-minMaxLabelMax"
                    visible-when="!prop[0].nonMetricFormat.minimumValue && prop[0].nonMetricFormat.maximumValue">{{data.i18n.maximumConstraintLabel}}</label>
                <label class="aw-cls-minMaxLabel aw-cls-minMaxLabelRange"
                    visible-when="prop[0].nonMetricFormat.minimumValue && prop[0].nonMetricFormat.maximumValue">{{data.i18n.rangeConstraintLabel}}</label>
                <label
                    class="aw-cls-minMaxLabel aw-cls-minMaxLabelMinValue">{{prop[0].nonMetricFormat.minimumValue}}</label>
                <label class="aw-cls-minMaxLabel"
                    ng-if="prop[0].nonMetricFormat.minimumValue && prop[0].nonMetricFormat.maximumValue">{{data.i18n.dashConstraintLabel}}</label>
                <label
                    class="aw-cls-minMaxLabel aw-cls-minMaxLabelMaxValue">{{prop[0].nonMetricFormat.maximumValue}}</label>
            </div>
        </div>
    </div>
</div>