<div class="aw-cls-location-filter-view">
    <div class="aw-layout-panelSectionTitle"><span><aw-i18n>i18n.refine</aw-i18n></span></div>
    <aw-togglebutton prop="data.autoUpdateEnabled"></aw-togglebutton>
    <!-- Bulk filter enabled -->
    <div class="aw-cls-applied-filter-container">
        <div class="aw-cls-bulk-actions-container">
            <aw-link prop="data.clearAllButton" action="clearAll" class="aw-cls-bulk-actions" link-id="Clear All"></aw-link>
        </div>
        <aw-cls-bulk-filters bulk-filters-map="data.bulkFiltersMap"
                            remove-action="removeSingleFilterValue"
                            remove-all-action="removeAllFilterValues"
        ></aw-cls-bulk-filters>
    </div>
    <aw-panel-section>
        <!-- Start of the 'refine' section. -->
        <aw-filter-in-filters-searchbox
            category="data.categories.refineCategories" class="aw-cls-filterCategorySearchBoxDimensions" index= "-1" filterAction="filterAction" text="this" prop="data.searchBox1">
        </aw-filter-in-filters-searchbox>
        <div class="aw-cls-tile-filterContainer">
            <aw-cls-bulk-filter-category
                ng-if="!data.autoUpdateEnabled.dbValue"
                class="aw-cls-tile-filterItem"
                add-action="addStringFilter"
                checkbox-action="addOrRemoveBulkFilters"
                is-bulk-filter="true"
                category="item"
                aw-repeat="item : data.categories.refineCategories | filterInFiltersSearch :data.searchBox1.dbValue:this track by $index"></aw-cls-bulk-filter-category>
            <aw-filter-category
                ng-if="data.autoUpdateEnabled.dbValue"
                class="aw-cls-tile-filterItem"
                search-action="addOrRemoveSingleFilter"
                category="item"
                aw-repeat="item : data.categories.refineCategories | filterInFiltersSearch :data.searchBox1.dbValue:this track by $index"></aw-filter-category>
        </div>
    </aw-panel-section>
</div>
