/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2019.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
/* Styling for Kanban board */

.webix-kaban-wrapper .webix_accordionitem_label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.webix_kanban_list_content:focus,
.webix_accordionitem .webix_accordionitem_header:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: 2px;
}

.webix_accordionitem_header {
    margin: 8px 4px 8px 4px;
}
