/* Copyright 2019 Siemens Product Lifecycle Management Software Inc. */

.smgantt {
    .task_progress_border {
        border-color: $Charting_Grey_3;
    }

    .summary_task,
    .summary_task.has_baseline {
        background-color: $Charting_Brown_9;
    }

    .gantt_task_line.summary_task.gantt_task_inline_color {
        .gantt_task_progress {
            background-color: $Charting_Brown_7;
        }
    }

    .schedule_task,
    .schedule_task.has_baseline {
        background-color: $Charting_Blue_9;
    }

    .gantt_task_line.schedule_task.gantt_task_inline_color {
        .gantt_task_progress {
            background-color: $Charting_Blue_7;
        }
    }

    .proxy_task,
    .proxy_task.has_baseline {
        background-color: $Charting_Grey_9;
    }

    .gantt_task_line.proxy_task.gantt_task_inline_color {
        .gantt_task_progress {
            background-color: $Charting_Grey_7;
        }
    }

    .has_baseline {
        background-color: $Charting_Yellow_7;
        border-color: $Charting_Grey_3;
    }

    .milestone {
        border-color: $Charting_Grey_3;
    }

    .gantt_task_line.milestone.gantt_milestone.gantt_task_inline_color {
        .gantt_task_content {
            background: $Charting_Blue_5;
        }
    }

    .gantt_task_line.gantt_milestone {
        border-color: $Charting_Grey_3;
    }

    .selected_link {
        .gantt_line_wrapper div {
            background-color: $brand_primary_accent_button_background_hover;
            box-shadow: 0 0 10px 0 $brand_primary_accent_button_background_hover;
        }

        .gantt_link_arrow_right {
            border-left-color: $brand_primary_accent_button_background_hover;
        }

        .gantt_link_arrow_left {
            border-right-color: $brand_primary_accent_button_background_hover;
        }
    }

    .gantt_task_cell {
        border-right-color: $aw_line_color;
    }

    .gantt_task_row {
        border-bottom-color: $aw_line_color;
    }

    .gantt_marker.week_end {
        background-color: $aw_line_color;
    }

    .gantt_tooltip {
        background-color: $balloon_popup_background_color;
        border-color: $balloon_popup_border_color;
        box-shadow: $balloon_popup_box_shadow;
    }

    .gantt_container,
    .gantt_scale_line {
        border-color: $table_border_color;
    }

    .gantt_scale_cell {
        border-color: $drop_shadow_table_scroll_color;
    }

    .gantt_grid_scale {
        border-bottom-color: $table_border_color;
        background-color: $table_header_background_color;
    }

    .gantt_side_content,
    .gantt_task_text {
        color: $brand_primary_accent_text;
    }

    .gantt_grid_data .task_added_in_whatif_mode .gantt_tree_content {
        color: $aw_gantt_created_what_if;
    }

    .gantt_grid_data .modified_in_whatif_mode .gantt_tree_content {
        color: $AW_SiemensAccentRed4;
    }
}

div .aw-schedulemanager-resourceChart .aw-matrix-rowHeader {
    color: $static_dark_text_color;
}

.aw-schedulemanager-resourceChart {
    .aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus .resourceLoad25,
    .aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus .resourceLoad50,
    .aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus .resourceLoad75,
    .aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus .resourceLoad100,
    .aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus .resourceLoad101,
    .aw-jswidgets-grid.aw-matrix-container div.ui-grid-cell-focus .resourceLoadWeekend {

        box-shadow: $balloon_popup_box_shadow;
        border-color: $brand_secondary_background;
    }

    .resourceLoad25 {
        border-color: $Status_Orange_10;
        background-color: $Status_Orange_10;
    }

    .resourceLoad50 {
        border-color: $Status_Orange_9;
        background-color: $Status_Orange_9;
    }

    .resourceLoad75 {
        border-color: $Status_Green_9;
        background-color: $Status_Green_9;
    }

    .resourceLoad100 {
        border-color: $Status_Green_8;
        background-color: $Status_Green_8;
    }

    .resourceLoad101 {
        border-color: $Status_Red_8;
        background-color: $Status_Red_8;
    }

    .resourceLoadWeekend {
        border-color: $brand_chip_background;
        background-color: $brand_chip_background;
    }

    [class*="resourceLoad"] {
        color: $brand_tertiary_text;

        &:hover {
            border-color: $brand_primary_border_hover;
        }
    }

    .aw-matrix-container .ui-grid-header-cell-wrapper .ui-grid-header-cell:nth-child(even) {
        color: $table_header_text_color;
    }

}
