// Copyright 2019 Siemens Product Lifecycle Management Software Inc.
/* reports */

$bold_font_weight_400:400;

.aw-reports-reportTotalFound {
    font-weight: $bold_font_weight_400;
    font-size: $fontsize_normal;
}

.aw-reports-sectionLabel {
    margin-top: 15px;
}

.aw-reports-button {
    margin-top: 10px;
}

.aw-reports-result {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.aw-incontext-contextreport {
    position: relative;
}

.aw-reports-filterWidgets .aw-widgets-labelGroup {
    width: 35%;
}

.aw-reports-filterWidgets .aw-widgets-namingRuleGroup {
    width: 65%;
}

.aw-reports-tabpanel {
    width: 100%;
    height: 500px;
    overflow: hidden;
    white-space: nowrap;
}

.aw-report-view-container {
    overflow-y: hidden !important
}

.aw-reports-instructionsLabel {
    font-size: $fontsize_x_large;
    margin-left: 10px;
    margin-top: 10px;
}

.aw-reports-reportTitle .aw-base-normal>a {
    font-weight: $bold_font_weight;
    font-size: $fontsize_x_large;
}

.aw-reports-titleLabel {
    text-align: center;
}

.aw-reports-dashboardTileList .aw-layout-flexColumnContainer {
    justify-content: center;
}

.aw-reports-dashboardTileContent .aw-widgets-cellListWidget .aw-widgets-cellListItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;

    align-content: flex-start;

    //padding: 10px;
    margin: 10px;
    min-width: 400px;
    width: 40px;

    align-content: normal;
    height: 320px;
    border-bottom: 0;
    //padding-left: initial;
}

.aw-reports-dashboardTileContent .aw-widgets-cellListCellCommands {
    width:40px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.aw-reports-dashboardTileContent  {
    width: 100%;
    height: 100%
}

.aw-reports-lastUpdateLabel .aw-widgets-propertyContainer>aw-property-label {
    max-width: 80px;
    padding-left: 10px;
    padding-top: 3px;
}

.aw-reports-lastUpdateLabel .aw-widgets-propertyContainer{
    margin-bottom: 2px;
}

.aw-reports-lastUpdateLabelValue .aw-widgets-propertyLabelTopValueContainer{
    padding-top: 3px;
}

.aw-reports-tile {
    width: 100%;
    height: 100%
}
