// Copyright 2018 Siemens Product Lifecycle Management Software Inc.
.aw-occmgmt-effectivityUnitSectionAllUnitsValue,
.aw-occmgmt-savedVariantRuleValue {
    display: inline;
    font-size: $fontsize_small;
}

.aw-occmgmt-indexUpdateDateLabel {
    display: inline;
    font-size: $fontsize_small;
    padding-top: 2px;
}

.aw-occmgmt-labelHeight {
    height:22px;
}

.aw-occmgmt-labelAlignmentInTooltip aw-property-label, .aw-occmgmt-labelAlignmentInTooltip .aw-widgets-propertyLabelTopValueContainer{
    flex:none;
    -webkit-flex: none;
    -ms-flex: none;
}
.aw-occmgmt-labelAlignmentInTooltip .aw-widgets-propertyContainer{
    display: -webkit-inline-box;
    display: -ms-inline-box;
}

.aw-layout-indexUpdateDateSectionContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.aw-occmgmt-effectivityUnitSectionAllUnitsValue:HOVER,
.aw-occmgmt-savedVariantRuleValue:HOVER {
    cursor: pointer;
}

.aw-occmgmt-configurationPanelEffectivityDate {
    width: 100%;
}

.aw-popup-overlay {
    position: absolute;
}

.aw-occmgmt-configurationEffectivityChangedMessage {
    font-style: italic;
    font-size: $fontsize_small;
    opacity: 0.5;
    vertical-align: top;
    justify-content: flex-end;
}

.aw-occmgmt-configurationPanelSelectedEffectiveUnitCell,
.aw-occmgmt-configurationPanelSelectedVariantCell {
    height: auto;
    margin-bottom: 7px;
    margin-top: 7px;
    width: 95%;
}

.aw-occmgmt-selectedRevisionRulePanel,
.aw-occmgmt-effectivityUnitSectionPanel,
.aw-occmgmt-organizationSchemeSectionPanel,
.aw-occmgmt-savedVariantRuleSectionPanel {
    display: inline;
}

.aw-occmgmt-effectivityUnitLabel,
.aw-occmgmt-toggleIndexLabel {
    float: left;
    line-height: normal;
    padding: 2px;
}

.aw-occmgmt-indexToNonIndexCheckBox {
    display: inline-block;
}

.aw-occmgmt-configurationFilterRevRuleName {
    display: inline;
    font-size: $fontsize_small;
    word-wrap: break-word;
}

.aw-occmgmt-configurationFilterRevRuleName:HOVER {
    cursor: pointer;
}

.aw-occmgmt-configurationFilterRevRuleDecription,
.aw-occmgmt-configurationFilterClosureRule {
    display: block;
    font-size: $fontsize_small;
    padding: 0 7px 0 0;
    word-wrap: break-word;
}

.aw-occmgmt-configurationFilterRevRuleMessage {
    display: inline;
    font-size: $fontsize_small;
    padding-left: 5px;
    word-wrap: break-word;
}

.aw-occmgmt-configurationFilterRevRuleName:HOVER {
    text-decoration: none;
}

.aw-occmgmt-resultsFilterPanel {
    bottom: 45px;
    overflow: hidden;
    top: 70px;
    width: 100%;
}

.aw-occmgmt-shadedPanel {
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

.aw-occmgmt-inContextSearch .aw-search-searchBox,
.aw-occmgmt-configurationPanel .aw-search-searchBox {
    width: calc(100% - 24px);
    height: 24px;
    float: left;
    margin: 0;
    padding: 0 8px 2px;
}

.aw-occmgmt-searchEndItemsButton {
    background-repeat: no-repeat;
    background-size: cover;
    border: medium none;
    cursor: pointer;
    display: inline;
    gwt-image: "searchImage";
    height: 32px;
    margin-left: 3px;
    overflow: hidden;
    top: 0;
    vertical-align: middle;
    width: 32px;
}

.aw-occmgmt-configCommandsCommandBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 300px;

    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.aw-occmgmt-configCommandsCommandWrapperHorizontal {
    margin: auto 0
}

.aw-occmgmt-searchBoxPanel {
    display: inline;
    margin-left: 10px;
    margin-top: 7px;
}

.aw-occmgmt-resultsAndFiltersPanel {
    margin-top: 10px;
}

.aw-occmgmt-searchBox {
    display: inline;
    height: 24px;
    top: 0;
    -moz-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -ms-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -o-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -webkit-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    vertical-align: middle;
    width: 260px;
}

.aw-occmgmt-searchEndItemsBox {
    display: inline;
    height: 24px;
    top: 0;
    -moz-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -ms-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -o-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -webkit-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    width: 260px;
}

.aw-occmgmt-inContextSearchPanel {
    height: auto;
    padding-top: 10px;
}

.aw-occmgmt-inContextSearchPanelResultsSelectedAndShowing {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: $fontsize_small;
    font-weight: 600;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}


.aw-occmgmt-inContextSearchUpButton {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.aw-occmgmt-advancedSearchClearAll aw-link {
    float: right;
}

.aw-occmgmt-inContextSearch .aw-layout-panelBody {
    padding-top: 10px;
}

.aw-occmgmt-inContextSearchDownButton {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.aw-occmgmt-inContextSearchSelectAllButton {
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.aw-occmgmt-inContextSearchUpButton .aw-base-icon,
.aw-occmgmt-inContextSearchDownButton .aw-base-icon,
.aw-occmgmt-inContextSearchSelectAllButton .aw-base-icon {
    height: 22px;
    width: 22px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}


.aw-occmgmt-searchResultCommandsPanel {
    padding-left: 8px;
    bottom: 5px;
    width: 95%;
}

.aw-occmgmt-backButton {
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}

.aw-occmgmt-backButton .aw-base-icon {
    height: 24px;
    width: 24px;
}

.aw-occmgmt-cellListScrollPanel {
    height: 100%;
}

.aw-occmgmt-addObjectModeSelectionPanel {
    white-space: nowrap;
    vertical-align: middle;
}

.aw-occmgmt-savedVariantRulePanel {
    padding-left: 8px;
}

.aw-occmgmtjs-savedVariantRuleLink {
    word-break: break-all;
}

.aw-occmgmtjs-effectivityUnitLink {
    padding-left: 8px;
    word-break: break-all;
    display: inline-block;
    vertical-align: top;
}

.aw-occmgmtjs-effectivityUnitLink .aw-base-normal a {
    line-height: normal;
}

.aw-occmgmt-toggleIndexLink {
    padding-left: 3px;
    line-height: normal;
}

.aw-occmgmtjs-separator {
    border-top: solid 1px;
    pointer-events: none;
    text-decoration: none;
    cursor: default;
}

.aw-occmgmt-savedVariantSearchBox {
    display: inline;
    height: 24px;
    -moz-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -ms-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -o-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -webkit-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    width: 260px;
}

.aw-occmgmt-savedVariantFilterButton {
    background-size: 29px 29px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: inline;
    gwt-image: "searchImage";
    height: 37px;
    margin-left: 2.666px;
    width: 29px;
}

.aw-occmgmt-effectivityUnitSectionAllUnitsTitle,
.aw-occmgmt-variantSectionSavedVariantRuleTitle {
    display: inline;
    font-size: $fontsize_small;
    padding: 0 7px 0 0;
}

.aw-occmgmt-endItemFrequentlyUsedLabel {
    display: inline;
    padding: 20px 0 10px;
}

.aw-occmgmt-searchedEndItemsPanel {
    height: 95%;
    min-height: 80%;
    overflow: auto;
    padding-top: 10px;
    width: 95%;
}

.aw-occmgmt-revisionRulesMainPanel {
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    width: 230px;
    z-index: 1001;
}

.aw-occmgmt-errorLabelOnUnitEffty {
    cursor: default;
}

.aw-occmgmt-unitEfftyPopupOnCfgPanel {
    width: 250px;
}

.aw-occmgmt-unitEfftyPopupOnCfgPanel input[type="text"] {
    width: -webkit-calc(100% - 32px);
    width: -moz-calc(100% - 32px);
    width: calc(100% - 32px);
    margin: 8px;
    height: auto;
}

.aw-occmgmt-organizationSchemePopupOnCfgPanel {
    width: 250px;
}

.aw-occmgmt-endItemUnitEfftyBox {
    display: inline;
    height: 24px;
    top: 0;
    -moz-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -ms-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -o-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    -webkit-transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
    transition: background-color .2s ease-in, background-position .2s ease-in, box-shadow .3s ease-in;
}

.aw-occmgmt-moreLabel {
    padding: 8px;
}

.aw-occmgmt-moreLabel:HOVER {
    cursor: pointer;
}

.aw-occmgmt-applyUnitEffectivityLabel {
    cursor: pointer;
    padding: 4px;
    text-align: right;
}

.aw-occmgmt-configurationPanelSearchForOthersSection {
    height: 100%;
    max-height: 70%;
    overflow: hidden;
    padding-left: 10px;
    width: 98%;
}

.aw-occmgmt-innerFlowPanel {
    z-index: 1001;
}

.aw-occmgmt-loadingLabel {

    padding: 8px;
}

.aw-occmgmt-globalRevRuleLabel {
    padding: 8px;
}

.aw-occmgmt-globalRevRuleLabel:HOVER {
    cursor: pointer;
}

.aw-layout-popup .aw-occmgmt-mainScrollPanel .aw-occmgmt-innerFlowPanel .aw-occmgmt-searchRevRulePanel input[type="text"] {
    width: -webkit-calc(100% - 32px);
    width: -moz-calc(100% - 32px);
    width: calc(100% - 32px);
}

.aw-occmgmt-mainScrollPanel .aw-occmgmt-innerFlowPanel .aw-occmgmt-searchRevRulePanel input[type="text"]::-ms-clear {
    display: none;
}

.aw-occmgmt-mainScrollPanel {
    max-height: 400px;
    max-width: 300px;
    min-width: 200px;
    word-wrap: break-word;
}


aw-ace-date-effectivity, .aw-occmgmt-dateEffectivity{
    .aw-occmgmt-mainScrollPanel {
        max-height: 400px;
        max-width: 304px;
        word-wrap: break-word;
    }

    .aw-layout-popup{
        z-index: 1001
    }

    aw-date .aw-jswidgets-dateTimeInputbox > div{
        width: 100%
    }
}

.aw-occmgmt-popupScrollPanel{
    max-height: 300px;
}

#aw-occmgmt-contextsection aw-popup-panel aw-scrollpanel {
    max-height: 300px;
    width: 300px;
    word-wrap: break-word;
}

.aw-occmgmt-dateEfftyPopupOnCfgPanel {
    max-height: 247px;
}

.aw-occmgmt-helper-text {
    font-size: $fontsize_normal;
    font-style: italic;
}

.aw-occmgmt-searchBoxImage {
    background-repeat: no-repeat;
    border: medium none;
    cursor: auto;
    display: inline;
    gwt-image: "searchImage";
    height: 26px;
    vertical-align: middle;
    width: 26px;
}

.aw-occmgmt-popupPanelLoadingImage {
    background-repeat: no-repeat;
    border: medium none;
    cursor: progress;
    display: block;
    gwt-image: "progressImage";
    height: 26px;
    vertical-align: middle;
    horizontal-align: middle;
    width: 26px;
    margin-left: auto;
    margin-right: auto;
}

.aw-occmgmt-searchRevRulePanel {
    padding: 8px;
    width: 90%;
}

.aw-occmgmt-cellListEvenItem {
    cursor: pointer;
    zoom: 1;
    padding: 8.000px;
}

.aw-occmgmt-cellListOddItem {
    cursor: pointer;
    zoom: 1;
    padding: 8.000px;
}

.aw-occmgmt-cellListSelectedItem {
    height: auto;
    overflow: visible;
}

.aw-occmgmt-cellImageTooltip {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid;
}

.aw-occmgmt-cellImageTooltip:hover,
.aw-occmgmt-cellImageTooltip:active {
    border: 2px solid;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-cellListCellImage {
    overflow: visible;
    margin: 0 8px 0 0;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-cellListCellImage:hover {
    margin: 0 6px -2px 0;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-dataGridCellImage:hover {
    margin-right: 6px;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-gridCellColorContainer,
.aw-occmgmt-cellImageTooltip.aw-widgets-gridCellColorContainer .aw-widgets-modelObjectThumbnail {
    height: 24px;
    width: 24px;
    margin: 0 auto;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-gridCellColorContainer .aw-widgets-modelObjectThumbnail .aw-base-icon {
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-cellListCellImage .aw-widgets-modelObjectThumbnail .aw-base-icon,
.aw-occmgmt-cellImageTooltip.aw-widgets-gridCellColorContainer .aw-widgets-modelObjectThumbnail .aw-base-icon {
    object-fit: cover;
}

aw-table-icon-cell .aw-occmgmt-cellImageTooltip .aw-widgets-gridCellColorIndicator {
    width: 0;
}

.aw-occmgmt-cellImageTooltip.aw-tcWidgets-partialOpacity,
.aw-occmgmt-cellImageTooltip.aw-widgets-partialVisibility {
    opacity: 1;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-partialVisibility .aw-base-icon,
.aw-occmgmt-cellImageTooltip.aw-tcWidgets-partialOpacity .aw-base-icon {
    opacity: .2;
}

.aw-occmgmt-cellImageTooltip.aw-widgets-cellListCellImage .aw-base-icon,
.aw-occmgmt-cellImageTooltip.aw-widgets-gridCellColorContainer .aw-widgets-modelObjectThumbnail .aw-base-icon {
    padding: 0;
}

.aw-occmgmt-cellImageTooltip:hover .aw-splm-tableIcon {
    margin-left: -1px;
}

.aw-occmgmt-cellImageTooltip .aw-widgets-gridCellColorIndicator.aw-splm-tableCellColorIndicator {
    width: 0;
}

.aw-occmgmt-summaryRendering {
    float: left;
    font-size: $fontsize_normal;
    margin: 0;

    height: -webkit-calc(100% - 15px);
    height: -moz-calc(100% - 15px);
    height: calc(100% - 15px);
    overflow-y: auto;
}

.aw-occmgmt-headerPanel {
    float: left;
    padding-bottom: 27px;
}

/*
   Styling definitions for the XRT Pages and Grouped Sections
*/

.aw-occmgmt-pageContainer {
    float: left;
    display: inline;
    width: 100%;
    height: -webkit-calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    height: calc(100% - 5px);
}

/*
   Styling definitions for the XRT Column widgets within Pages
 */

.aw-occmgmt-columnContentPanel {
    float: left;
    display: block;
    width: 100%;
    min-width: 293px;
    margin: 0 13px 0 0;
}

/*
   Styling definitions for the XRT Section Widgets within Columns
 */

.aw-occmgmt-info-panel .aw-occmgmt-content {
    margin: 0;
}

.aw-occmgmt-inContextSearch .aw-search-searchContainer,
.aw-occmgmt-configurationPanel .aw-search-searchContainer {
    width: 100%;
}

.aw-occmgmt-inContextSearch .aw-search-searchContainer {
    margin: 10px 0;
}

@media (max-width: 64.25em) {

    .aw-occmgmt-inContextSearch .aw-search-searchContainer,
    .aw-occmgmt-configurationPanel .aw-search-searchContainer {
        display: inline-block;
    }
}

.aw-occmgmt-inContextSearchPanelHeader {
    width: 100%;
    padding-top: 10px;
}

.aw-occmgmt-addElementPanel .aw-tcPanels-addObject .aw-layout-panelHeader,
.aw-occmgmt-addElementPanel .aw-tcPanels-addObject .aw-layout-panelBody,
.aw-occmgmt-addElementPanel .aw-tcPanels-addObject .aw-layout-panelFooter {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.aw-occmgmt-addElementCommand-dropDownTextStyle {
    display: inline;
    white-space: normal;
}

.aw-occmgmt-nothingToSaveText {
    position: absolute;
    bottom: 10px;
}

.aw-occmgmt-saveWorkingContextMainPanel {
    position: relative;
}

.aw-occmgmt-inContextSearchRecipeLabel {
    display: inline;
    font-size: $fontsize_normal;
    margin-bottom: 3px;
    margin-left: 5px;
}

.aw-occmgmt-inContextSearchRecipeValue {
    display: inline;
    font-size: $fontsize_normal;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.aw-occmgmt-space {
    float: left;
    display: block;
    width: 0.1%;
    height: 40px;
}

.aw-occmgmt-spaceContainer {
    float: left;
    width: 99.9%;
}


.aw-occmgmt-recipeOperatorPopupPanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aw-occmgmt-recipeOperatorPopupPanel .aw-widgets-cellListItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.aw-occmgmt-recipeOperatorImage {
    width: 25%;
}


.aw-occmgmt-recipeOperatorImage .aw-base-icon {
    display: inline-block;
    cursor: pointer;
    border: none;
    height: 18px;
    width: 18px;
    padding-right: 10px;
}

.aw-occmgmt-filterValueContainer .aw-base-icon {
    height: 12px;
    width: 12px;
    border: 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 0;
}

.aw-occmgmt-recipeLabelValueContainer {
    display: inline-block;
    width: -webkit-calc(100% - 60px);
    /* width of container minus button and padding for panel margin*/
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 18px;
}

.aw-occmgmt-filterValueLabel {
    display: inline;
}

.aw-occmgmt-level1,
.aw-occmgmt-level2,
.aw-occmgmt-level3,
.aw-occmgmt-level4,
.aw-occmgmt-level5,
.aw-occmgmt-level6,
.aw-occmgmt-level7,
.aw-occmgmt-levelVeryDeep {
    float: left;
    height: 28px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.aw-occmgmt-level1 {
    width: 20px;
    min-width: 20px;
}

.aw-occmgmt-level2 {
    width: 30px;
    min-width: 30px;
}

.aw-occmgmt-level3 {
    width: 40px;
    min-width: 40px;
}

.aw-occmgmt-level4 {
    width: 50px;
    min-width: 50px;
}

.aw-occmgmt-level5 {
    width: 60px;
    min-width: 60px;
}

.aw-occmgmt-level6 {
    width: 70px;
    min-width: 70px;
}

.aw-occmgmt-level7 {
    width: 80px;
    min-width: 80px;
}

.aw-occmgmt-levelVeryDeep {
    width: 220px;
    min-width: 220px;
}

aw-occmgmt-sublocation {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    overflow: hidden;
}

aw-occmgmt-secondary-workarea,
aw-occmgmt-secondary-workarea .aw-layout-sublocationContent {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    overflow: hidden;
}

.aw-occmgmt-table-summary-layout {
    height: 100%;
}

aw-occmgmt-secondary-workarea aw-gwt-presenter {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

aw-occmgmt-secondary-workarea .aw-layout-sublocationContent {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    height: auto;
    width: auto;
}

.aw-layout-panelBody[panel-id="InContextSearchResultsTab"] .aw-commands-wrapper {
    display: inline;
    float: right;
}

.aw-layout-panelBody[panel-id="InContextSearchResultsTab"] .aw-commands-wrapper .aw-commands-svg {
    width: 22px;
    height: 22px;
    padding: 1px;
}

aw-occmgmt-sublocation .aw-layout-summaryList {
    min-width: 0;
}

aw-list aw-occmgmt-cell .aw-widgets-cellListCellContent {
    float: unset;
    width: 100%;
    overflow: hidden;
}

aw-data-navigator aw-navigate-breadcrumb .aw-layout-popup {
    min-width: 302px;
}

.aw-widgets-cellListItem .aw-markup-added *,
.aw-widgets-cellListItem:hover .aw-markup-added * {
    font-style: italic;
}

.aw-widgets-cellListItem .aw-markup-deleted * {
    text-decoration: line-through;
}

.aw-grid-markup-added * {
    font-style: italic;
}

.aw-grid-markup-deleted * {
    text-decoration: line-through;
}

.aw-occmgmt-ruleDateDropDown {
    line-height: 14px;
}

.aw-occmgmt-editButtons {
    max-width: 200px;
    float: right;
    margin: 5px 20px;
}

.aw-occmgmt-tooltip-list .aw-widgets-cellListWidget .aw-widgets-cellListItem:hover,
.aw-occmgmt-tooltip-list .aw-widgets-cellListWidget .aw-widgets-cellListItem.aw-widgets-cellListItemSelected,
.aw-occmgmt-tooltip-list .aw-widgets-cellListWidget .aw-widgets-cellListItem.aw-widgets-cellListItemSelected:hover
{
    background: unset;
}

.aw-occmgmt-tooltip-list .aw-widgets-cellListItem{
    cursor: unset;
}

.aw-occmgmt-tooltipTextEllipsis {
    aw-property-non-edit-val .aw-jswidgets-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        cursor: default;
        max-width: 250px;
    }
    .aw-widgets-propertyLabelTopValueContainer{
        max-width: 250px;
    }
}

.aw-splm-tableCellTop.aw-occmgmt-duplicateEditableIndicator .aw-splm-tableCellText {
    align-self: center;
}

.aw-occmgmt-revisionRuleLabel {
    margin-left: 7px;
    margin-bottom: 10px;
}

.aw-occmgmtjs-insertLevelPanel .aw-splm-tableHeaderRow > div:nth-child(2) > div {
    position: relative;
    right: 40px;
}

.aw-occmgmtjs-insertElement
{
    margin-right: 16px;
    position: relative;
    left: 8px;
}

.aw-occmgmtjs-insertLevelPanel .aw-splm-tablePinnedContainerLeft .aw-splm-tableScrollContents {
    pointer-events: none;
}
