/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2017.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/
// mixins
@import 'mixins/mixins';

.aw-occmgmtjs-variantRule ul> :first-child {
    font-style: italic;
}

.aw-occmgmtjs-variantRule ul {
    font-style: normal;
}

.aw-occmgmtjs-newVariantRule {
    font-style: italic;
}

aw-sublocation-body aw-data-navigator {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    overflow: hidden;
}

.aw-layout-workareaMain .aw-occmgmtjs-dataNavigatorBody {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    overflow: hidden;
}

.aw-occmgmtjs-stale {
    font-style: italic;
}

.aw-occmgmt-effectivity-popup {
    display: flow-root;
}

aw-include[name="occMgmtTree"] aw-guidance-message .aw-guidance-container {
    width : auto  
}  

aw-data-navigator aw-splm-table .aw-splm-table .aw-occmgmtjs-overrideIcon {
    .aw-visual-indicator {
        position: absolute;
        left: 50%;
    }
}

.aw-commands-showIconLabel .aw-occmgmt-expand aw-command-bar:not(.aw-layout-userSessionCommands).aw-commands-commandBarVertical aw-command .aw-commands-commandIconButton {
    width: 100%;
}

.aw-occmgmt-expand {
    aw-command-bar:not(.aw-layout-userSessionCommands).aw-commands-commandBarVertical {
        width: auto;

        .aw-commands-wrapper {
            padding: 0;
        }

        aw-command {
            display: block;

            .aw-commands-commandIconButton {
                width: 100%;
                text-align: left;
                height: auto;
                padding: 7px;

                .aw-commandIcon {
                    display: inline-block;
                    vertical-align: middle;

                    .aw-commands-svg {
                        margin: 0;
                    }
                }

                .aw-commands-showIconLabel.aw-commands-commandIconButtonText {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 0.75rem;
                    width: calc(100% - 2rem);
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-left: 0.25rem;
                    line-height: normal;
                }
            }
        }
    }

    .aw-widgets-propertyLabelTop {
        font-weight: inherit;
    }

    .aw-occmgmt-expandToLevelInput {
        padding: 10px;
    }
}

.aw-occmgmt-duplicateEditableIndicator {
    border-width: 1px;
    border-style: solid;
    border-collapse: collapse;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 16px;
}
