/*
   @<COPYRIGHT>@
   ==================================================
   Copyright 2015.
   Siemens Product Lifecycle Management Software Inc.
   All Rights Reserved.
   ==================================================
   @<COPYRIGHT>@
*/

/* capturetool */

.aw-capturetool-mainPanel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.aw-capturetool-cellPanel {
    width: 100%;
    margin: 0;
    padding: 0;
}


