<div class="aw-graph-canvas">
    <div class="aw-graph-container" ng-class="{'aw-graph-editable': graphModel.config.enableEdit&&graphModel.graphControl.inputMode.editMode }">
    </div>
    <div class="aw-graph-overviewContainer" ng-show="graphModel.config.showOverview && graphModel.isOverviewOpened">
    </div>
    <div class="aw-graph-commandBar">
        <button class="aw-commands-commandIconButton" type="button" ng-show="graphModel.config.showOverview" ng-click="toggleOverView()"
            title="{{overviewCommandTitle}}">
            <div class="aw-commandIcon">
                <aw-icon class="aw-commands-svg" icon-id="cmdShowGraphOverview" ng-hide="graphModel.isOverviewOpened"></aw-icon>
                <aw-icon class="aw-commands-svg" icon-id="cmdHideGraphOverview" ng-show="graphModel.isOverviewOpened"></aw-icon>
            </div>
        </button>
        <button class="aw-commands-commandIconButton" type="button" ng-show="graphModel.config.showFilter && (legendState.hasCustomFilters || legendState.activeView.filteredCategories.length > 0)"
            title="{{filterAppliedCommandTitle}}">
            <div class="aw-commandIcon">
                <aw-icon class="aw-commands-svg" icon-id="cmdfilter"></aw-icon>
            </div>
        </button>
    </div>
    <div class="aw-graph-contextMenu" ng-if="contextMenuCommands.length > 0">
        <aw-popup-panel>
            <aw-popup-command-list prop="contextMenuCommands"> </aw-popup-command-list>
        </aw-popup-panel>
    </div>
</div>
